﻿body {
    background-color: #EEE;
}

.m-brand .m-brand__logo .m-brand__logo-wrapper img {
    height: 41px;
}

img {
    max-width: 100%;
}

.m-portlet .m-portlet__head {
    height: 3.1rem;
}

    .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
        font-size: 1rem;
    }

.modal iframe {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: none;
}

.m-form .m-form__group:last-child {
    padding-bottom: 15px;
}

.m-form .m-form__group:first-child {
    padding-top: 15px;
}

.m_sortable_portlets_multiple .m-portlet--sortable {
    margin-bottom: 5px !important;
}

.m_sortable_portlets_multiple .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title{
    width: 100%;
}

.m_sortable_portlets_multiple .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text{
    width: 100%;
    padding-right: 100px;
}

.m_sortable_portlets_multiple .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text + a {
    float:right;
}

@media (min-width: 1024px) {
    .modal-dialog {
        width: 1000px;
        max-width: 1000px;
        margin: 5rem auto;
        height: calc(100% - 10rem);
    }

    .modal.small .modal-dialog {
        width: 500px;
        max-width: 500px;
    }

        .modal-dialog .modal-content {
            height: 100%;
        }
}

@media print {
    .m-header {
        display: none;
    }

    .m-subheader {
        display: none;
    }

    .m-content > .row > .col-md-12 > .m--margin-bottom-10 {
        display: none;
    }

    .m-header--fixed .m-body {
        padding-top: 0 !important;
    }

    .m-portlet {
        margin-bottom: 0;
    }

    .hide-on-print {
        display: none;
    }

    table thead {
        display:none !important;
    }

    table tr > td > span {
        width: auto !important;
    }
}

.m-form__group {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

table.admin-table {
    width: 100%;
    border-collapse: collapse;
}

    table.admin-table tr th {
        text-align: center;
        border: 1px solid #ccc;
    }

    table.admin-table tr td {
        text-align: left;
        padding: 0 5px;
        border: 1px solid #eee;
    }

.loading {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,.75);
    display: none;
}

#load {
    width: 150px;
    height: 150px;
    animation: loading 3s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
}

    #load #loading-inner {
        stroke-dashoffset: 0;
        stroke-dasharray: 300;
        stroke-width: 10;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        animation: loading-circle 2s linear infinite;
        stroke: #ed2124;
        fill: transparent;
    }

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -600;
    }
}


.datatable {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

table.dataTable {
    font-weight: 400;
}

    table.dataTable.no-footer {
        border-color: #eee;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 8px 10px;
        border-color: #eee;
    }

    border tbody th, table.dataTable tbody td {
        border-top: 1px solid #eee;
    }

    table.dataTable tbody tr:first-child th, table.dataTable tbody tr:first-child td {
        border-top: none;
    }

.table.table-striped tbody td, .table.table-striped tbody th {
    vertical-align: middle;
    text-align: center;
}

.table.table-striped thead th {
    vertical-align: middle;
    text-align: center;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.modal-content img {
    height: calc(100vh - 50px) !important;
}

.dataTables_filter input {
    width: 100%;
    border-color: #ebedf2;
    color: #575962;
    display: block;
    width: 100%;
    padding: .65rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 0 !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
}

.dataTables_filter label {
    display: block;
    margin-bottom: .5rem;
}