﻿@model List<RoleModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Privileges</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @foreach (var privilege in item.PrivilegeNames)
                    {
                        <span>@privilege</span>
                        <br />
                    }
                </td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>