﻿@{
    var metaTitle = !string.IsNullOrWhiteSpace(ViewBag.MetaTitle) ? ViewBag.MetaTitle : "";
    var metaDescription = !string.IsNullOrWhiteSpace(ViewBag.MetaDescription) ? ViewBag.MetaDescription : "";
    var metaImage = !string.IsNullOrWhiteSpace(ViewBag.MetaImage) ? ViewBag.MetaImage : "";
    var canonicalUrl = !string.IsNullOrWhiteSpace(ViewBag.CanonicalUrl) ? ViewBag.CanonicalUrl : "";
    var url = Request.Url.AbsoluteUri.Substring(0, (Request.Url.AbsoluteUri.IndexOf("?") >= 0 ? Request.Url.AbsoluteUri.IndexOf("?") : Request.Url.AbsoluteUri.Length));
    if (string.IsNullOrWhiteSpace(canonicalUrl))
    {
        canonicalUrl = url;
    }

    var topMenu = ContentService.GetMenu(WebResource.TopMenuId);
    var bottomMenu = ContentService.GetMenu(WebResource.TopMenuId);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@metaTitle</title>
    <meta charset="utf-8">
    <meta name="title" content="@metaTitle">
    <meta name="description" content="@metaDescription">
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri.Substring(0, (Request.Url.AbsoluteUri.IndexOf("?") >= 0 ? Request.Url.AbsoluteUri.IndexOf("?") : Request.Url.AbsoluteUri.Length))" />
    <meta property="og:description" content="@metaDescription" />
    @if (!string.IsNullOrWhiteSpace(metaImage))
    {
        <meta property="og:image" content="@metaImage" />
    }
    <meta name="twitter:title" content="@metaTitle">
    <meta name="twitter:description" content="@metaDescription">
    @if (!string.IsNullOrWhiteSpace(metaImage))
    {
        <meta name="twitter:image" content="@metaImage">
    }
    <meta name="twitter:card" content="summary">
    <link rel=canonical href="@canonicalUrl" />
    <link rel="Shortcut icon" href="/favicon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

    <link rel="Shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("Content/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("Content/owl.carousel.css")" />
    <link rel="stylesheet" href="@Url.Content("Content/select2.min.css")" />
    <link rel="stylesheet" href="@Url.Content("Content/Site.css")" />
    <link rel="stylesheet" href="@Url.Content("Content/Responsive.css")" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MCHW63XSG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3MCHW63XSG');
    </script>
</head>
<body>
    <header class="">
        <div class="container">
            <div class="logo">
                <a href="/" title="Anasayfa">
                    <img class="light" src="@Url.Content("~/Content/Icons/logo-black.png")" alt="BCS Accessory" />
                </a>
            </div>
            <div class="hamburger mobile-only">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-wrapper">
                <ul class="menu-items">
                    <li class="menu-item"><a class="link-item" href="models" title="ÜRÜNLERİMİZ">ÜRÜNLERİMİZ</a></li>
                    <!-- <li class="menu-item"><a class="link-item" href="about">HAKKIMIZDA</a></li> -->
                    <li class="menu-item"><a class="link-item" href="footer" title="İLETİŞİM">İLETİŞİM</a></li>
                    <li class="mobile-menu-cont mobile-only">
                        <div class="social">
                            <a href="https://wa.me/905347736415" target="_blank" title="whatsapp"><img src="@Url.Content("~/Content/Icons/whatsapp.png")" alt="Whatsapp"></a>
                            <a href="https://www.instagram.com/bsc.accessory" target="_blank" title="instagram"><img src="@Url.Content("~/Content/Icons/Instagram.png")" alt="Instagram"></a>
                        </div>
                        <div class="rights">© BCS Accessory 2021</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="indicator" style="width: 0%;"></div>
    </header>
    @RenderBody()
    <section class="models">
        <div class="container">
            <div class="products">
                <div class="product active">
                    <div class="img-container">
                        <img class="active" src="~/Uploads/pd1.jpg" alt="">
                    </div>
                    <div class="content">
                        <!-- <span class="title">Kolye</span> -->
                        <div class="inner-box">
                            <p class="text">
                                <strong>Merhaba!</strong>
                                <br>
                                Modayı takip eden ve kalitesinden ödün vermeyen BSC Accessory olarak misyonumuz sizleri uygun fiyatlı ve kaliteli takılarla buluşturmak!
                                Modaya her zaman ayak uyduracak birbirinden kaliteli ve çeşitli aksesuarlar bir kadın tasarımcının gözünden sizin için seçildi!
                            </p>
                        </div>
                        <!-- <div class="cta"> -->
                        <!-- <button class="btn buy">Satın Al</button> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="product active">
                    <div class="img-container">
                        <img class="active" src="Uploads/pd2.jpg" alt="">
                    </div>
                    <div class="content">
                        <!-- <span class="title">Kolye</span> -->
                        <div class="inner-box">
                            <p class="text">
                                En özel anlarınızda kıyafetlerinize ışıltı katarak yanınızda olmak <br> bizim için büyük bir heyecan!
                                <br>
                                Günlük hayatınızda severek kullanacağınız kombinlerle daima şık ve zarif görüneceksiniz.
                            </p>
                        </div>
                        <!-- <div class="cta"> -->
                        <!-- <button class="btn buy">Satın Al</button> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="product">
                    <div class="img-container">
                        <img class="active" src="Uploads/pd3.jpg" alt="">
                    </div>
                    <div class="content">
                        <!-- <span class="title">Kolye</span> -->
                        <div class="inner-box">
                            <p class="text">
                                Şık kutularımız ve özenli paketlememiz ile özel günlerde de sizi temsil etmektekten mutluluk duyarız.
                                Sevdiklerinizin her anında yanında olacak aksesuarlar ile aranızdaki bağı güçlendirmek bizim için çok kıymetli.
                                <br>
                                Kaliteyi şıklıkla birleştirmek için bizi takip edin!
                            </p>
                        </div>
                        <!-- <div class="cta"> -->
                        <!-- <button class="btn buy">Satın Al</button> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="footer" data-url="contact">
        <footer>
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <img class="light" src="@Url.Content("~/Content/Icons/logo-black.png")" alt="BCS Accessory" />
                    </a>
                </div>
                <div class="footer-wrapper">
                    <div class="social-items">
                        <div class="social-item">
                            <a href="https://wa.me/905347736415" target="_blank" title="whatsapp"><img src="@Url.Content("~/Content/Icons/whatsapp.png")" alt="whatsapp"></a>
                        </div>
                        <div class="social-item">
                            <a href="https://www.instagram.com/bsc.accessory" target="_blank" title="instagram"><img src="@Url.Content("~/Content/Icons/Instagram.png")" alt="instagram"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/tween/plugins/CSSPlugin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tween/easing/EasePack.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tween/TweenLite.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.js")"></script>
    <script src="@Url.Content("~/Scripts/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alca.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
