﻿@model List<CmsContentTypeModelsView>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Code</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().GroupName)">Page Content Type Group</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().ParentKey)">Parent Key</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().ChildrenKey)">Children Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.GroupName</td>
                <td>@item.ParentKey</td>
                <td>@item.ChildrenKey</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
