﻿@model AcPager<PagePartialModelsView>
@{
    var entityName = ViewBag.EntityName;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Published)">Is Published?</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>
                        @item.Name
                    </span>
                </td>
                <td>
                    @(item.Published ? "Yes (Version: " + item.ActiveVersion + ")" : "No")
                    @if (item.Published)
                    {
                        <br />
                        @Html.CustomButton("btn-danger", new { entityName = entityName, entityId = item.Id }, "UnpublishDesign", "UNPUBLISH", "CmsDesign")
                    }
                </td>
                <td>
                    <span>
                        @if (item.PendingApproval)
                        {
                            if (Identity.AllowAccess(Enums.Privilege.AdminPageAdmin))
                            {
                                <text>
                                    Pending Approval (Version: @(item.DesignedVersion))

                                    <a href="@Url.Action("RejectDesign", "CmsDesign", new {entityName = entityName, entityId = item.Id})" class="btn btn-danger btn-sm m-btn m-btn--icon">
                                        <i class="la la-ban"></i> REJECT
                                    </a>
                                    <a href="@Url.Action("ApproveDesign", "CmsDesign", new {entityName = entityName, entityId = item.Id})" class="btn btn-success btn-sm m-btn m-btn--icon">
                                        <i class="la la-check-circle"></i> APPROVE
                                    </a>
                                </text>
                            }
                            else
                            {
                                <text>
                                    Pending Approval
                                </text>
                            }
                        }
                        else
                        {
                            if (item.LockedById.HasValue)
                            {
                                if (item.LockedById == Identity.Id)
                                {
                                    <text>
                                        @Html.CustomButton("btn-success", new { entityName = entityName, entityId = item.Id }, "Design", "CONTINUE DESIGN", "CmsDesign")
                                        @Html.CustomButton("btn-danger", new { entityName = entityName, entityId = item.Id }, "CancelDesign", "UNCLOCK AND CANCEL DESIGN", "CmsDesign")
                                    </text>
                                }
                                else if (Identity.AllowAccess(Enums.Privilege.AdminPageAdmin))
                                {
                                    <text>
                                        Locked By: <b>@item.LockedByUserName</b> (Version: @item.DesignedVersion)
                                        @Html.CustomButton("btn-danger", new { entityName = entityName, entityId = item.Id }, "CancelDesign", "UNCLOCK AND CANCEL DESIGN", "CmsDesign")
                                    </text>
                                }
                                else
                                {
                                    <text>Locked By: <b>@item.LockedByUserName</b> (Version: @item.DesignedVersion) </text>
                                }
                            }
                            else
                            {
                                <text>
                                    @Html.CustomButton("btn-success", new { entityName = entityName, entityId = item.Id }, "Design", "LOCK AND DESIGN", "CmsDesign")
                                </text>
                            }
                        }
                    </span>
                </td>
                <td>
                    <span>
                        @if (Identity.AllowAccess(Enums.Privilege.AdminPageAdmin))
                        {
                            @Html.DeleteButton(new { id = item.Id })
                            @Html.EditButton(new { id = item.Id })
                            @Html.CustomButton("btn-metal", new { entityName = entityName, entityId = item.Id }, "History", "HISTORY", "CmsDesign")
                        }
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>