﻿@model PagePartialModelsView
@{
    Layout = null;
    var entityName = ViewBag.EntityName;
}
<div class="m-section">
    <span class="m-section__sub">
        <span class="m--font-success">Name:</span> @Model.Name
    </span>
</div>