﻿@model PagePartialModelsFilter
@{
    var data = (AcPager<PagePartialModelsView>)ViewBag.Data;
    var entityName = ViewBag.EntityName;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Yönetimi</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            @Html.Partial("_Pager", data)
            <div class="datatable">
                @Html.Partial("_Index", data)
            </div>
            @Html.Partial("_Pager", data)
        </div>
    </div>
</div>