﻿@model AcPager<AcTaskAdminModelsList>

<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Code</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Enabled)">Enabled</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().SystemName)">System Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Seconds)">Seconds</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@(item.Enabled ? "Yes" : "No")</td>
                <td>@item.SystemName</td>
                <td>@item.Seconds</td>
                <td>
                    <span>
                        @if (item.Enabled)
                        {
                            @Html.CustomButton("btn-danger", new { id = item.Id }, "Disable", "DISABLE TASK")
                        }
                        else
                        {
                            @Html.CustomButton("btn-success", new { id = item.Id }, "Enable", "ENABLE TASK")
                        }
                        @Html.CustomButton("btn-warning", new { id = item.Id }, "Details", "DETAILS")
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "Settings", "SETTINGS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>