﻿@model AcTaskAdminModelsDetails
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Details</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        TASK INFO
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <span class="m--font-boldest">
                                    Enabled:
                                </span>
                                @(Model.Enabled ? "Yes" : "No")
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Skip If Locked:
                                </span>
                                @(Model.SkipIfLocked ? "Yes" : "No")
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Run At Where:
                                </span>
                                @Model.RunAtWhere
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Run At Which App:
                                </span>
                                @Model.RunAtWhichApp
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        TASK INFO
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <span class="m--font-boldest">
                                    Code:
                                </span>
                                @Model.Code
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Name:
                                </span>
                                @Model.Name
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    System Name:
                                </span>
                                @Model.SystemName
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Settings System Name:
                                </span>
                                @Model.SettingsSystemName
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        HISTORY
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="datatable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Run At Where
                                            </th>
                                            <th>
                                                Run At Which App
                                            </th>
                                            <th>
                                                Start Date
                                            </th>
                                            <th>
                                                End Date
                                            </th>
                                            <th>
                                                Is Error?
                                            </th>
                                            <th>
                                                Error Date
                                            </th>
                                            <th>
                                                Details
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Histories)
                                        {
                                        <tr>
                                            <td>
                                                @item.RunAtWhere
                                            </td>
                                            <td>
                                                @item.RunAtWhichApp
                                            </td>
                                            <td>
                                                @item.StartDate.ToString("dd.MM.yyyy HH:mm")
                                            </td>
                                            <td>
                                                @(item.EndDate.HasValue ? item.EndDate.Value.ToString("dd.MM.yyyy HH:mm") : "")
                                            </td>
                                            <td>
                                                @(item.Error ? "Yes" : "No")
                                            </td>
                                            <td>
                                                @(item.ErrorDate.HasValue ? item.ErrorDate.Value.ToString("dd.MM.yyyy HH:mm") : "")
                                            </td>
                                            <td>
                                                @item.Details
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>