﻿@{
    var contentTypeDataSystemName = (string)ViewBag.SettingsSystemName;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Edit @Module.Title</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="col-md-12">
        <div class="m-portlet">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ContentTypeDataSystemName", contentTypeDataSystemName)
                <div class="m-portlet__body">
                    @Html.EditorForModel()
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-sm m-btn btn-success">KAYDET</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
