﻿@model List<CmsDesignContentTypeSelectModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
    var groups = Model.Select(p => new { p.GroupId, p.GroupName, p.GroupOrder }).Distinct().OrderBy(p => p.GroupOrder);
    var flag = true;
    var count = 0;
    
    var entityName = (string)ViewBag.EntityName;
    var cmsVersionId = (long)ViewBag.CmsVersionId;
    var parentId = (long?)ViewBag.ParentId;
}
<div class="m-portlet__body">
    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        @foreach (var group in groups)
        {
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link @(flag ? "active show" : "")" data-toggle="tab" href="#m_tabs_@count" role="tab" aria-selected="false">@group.GroupName</a>
            </li>
            flag = false;
            count++;
        }
    </ul>
    <div class="tab-content">
        @{ 
            flag = true;
            count = 0;
        }
        @foreach (var group in groups)
        {
            <div class="tab-pane @(flag ? "active show" : "")" id="m_tabs_@count" role="tabpanel">
                @foreach (var item in Model.Where(p => p.GroupId == group.GroupId))
                {
                    <a href="@Url.Action("Create", new { entityName, cmsVersionId, parentId, contentTypeId = item.Id })" type="button" class="btn m-btn--square  btn-primary m--margin-5 m-btn--icon">
                        <span>
                            <i class="la la-plus"></i>
                            <span>
                                @item.Name
                            </span>
                        </span>
                    </a>
                }
            </div>
            flag = false;
            count++;
        }
    </div>
</div>
