﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
    var entityName = (string)ViewBag.EntityName;
    var cmsVersionId = (long)ViewBag.CmsVersionId;
    var contentTypeDataSystemName = (string)ViewBag.ContentTypeDataSystemName;
}
<div class="m-content">
    <div class="col-md-12">
        <div class="m-portlet">
            @using (Html.BeginForm("Edit", "CmsDesign", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("EntityName", entityName)
                @Html.Hidden("CmsVersionId", cmsVersionId)
                @Html.Hidden("ContentTypeDataSystemName", contentTypeDataSystemName)
                <div class="m-portlet__body">
                    @Html.EditorForModel()
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="submit" class="btn btn-sm m-btn btn-success">KAYDET</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>


