﻿@model List<CmsHistoryModel>

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Cms History</h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="datatable">
                <table>
                    <thead>
                        <tr>
                            <th>Operation Date</th>
                            <th>Operation Type</th>
                            <th>Version</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Date.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                @item.Operation
                            </td>
                            <td>
                                @item.CmsVersion
                            </td>
                            <td>
                                @if (item.Operation == "Publish")
                                {
                                    @Html.CustomButton("btn-danger", new { entityName = item.EntityName, entityId = item.EntityId, cmsVersion = item.CmsVersion }, "UndoCmsVersion", "Undo Version Number : " + item.CmsVersion, "CmsDesign")
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>