@model List<CmsDesignContentModel>
@{
    var cmsVersion = (CmsDesignCmsVersionModel)TempData["CmsVersion"];
    var isAdmin = (bool)ViewBag.IsAdmin;
}
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Design</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            @Html.Action("CmsInfo", cmsVersion.EntityName, new { id = cmsVersion.EntityId })
            <div class="m-form">
                <div class="row align-items-center">
                    <div class="col-xl-12 m--align-left">
                        <a href="javascript:;" data-url="@Url.Action("CreateModal", "CmsDesign", new { entityName = cmsVersion.EntityName,  cmsVersionId = cmsVersion.CmsVersionId })" data-toggle="modal" data-target="#cms-design-content-add-modal" class="btn btn-success btn-sm m-btn m-btn--icon m--margin-right-10 cms-design-content-add">
                            <i class="la la-plus"></i> ADD NEW
                        </a>
                        @if (isAdmin)
                        {
                            <a href="@Url.Action("PublishDesign","CmsDesign",new { entityName = cmsVersion.EntityName, entityId = cmsVersion.EntityId})" class="btn btn-info btn-sm m-btn m-btn--icon m--margin-right-10">
                                <i class="la la-check-circle"></i> PUBLISH
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("SendtoApprovalDesign","CmsDesign",new { entityName = cmsVersion.EntityName, entityId = cmsVersion.EntityId})" class="btn btn-info btn-sm m-btn m-btn--icon m--margin-right-10">
                                <i class="la la-check-circle"></i> SEND TO APPROVAL
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Contents
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row m_sortable_portlets">
                <div class="col-lg-12">
                    @Html.Partial("_Render", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cms-design-content-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    ADD NEW CONTENT
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <iframe class="modal-iframe"></iframe>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var PortletDraggable = {
            init: function () {
                $(".m_sortable_portlets").sortable({
                    connectWith: ".m-portlet__head",
                    items: ".m-portlet",
                    opacity: .8,
                    handle: ".m-portlet__head",
                    coneHelperSize: !0,
                    placeholder: "m-portlet--sortable-placeholder",
                    forcePlaceholderSize: !0,
                    tolerance: "pointer",
                    helper: "clone",
                    tolerance: "pointer",
                    forcePlaceholderSize: !0,
                    helper: "clone",
                    cancel: ".m-portlet--sortable-empty",
                    revert: 250,
                    containment: "parent",
                    update: function (e, t) {
                        t.item.prev().hasClass("m-portlet--sortable-empty") && t.item.prev().before(t.item);
                        var data = $(this).sortable('serialize');
                        var cmsVersionId = "@cmsVersion.CmsVersionId";
                        var entityName = "@cmsVersion.EntityName";
                        $.ajax({
                            cache: false,
                            type: 'GET',
                            url: '/CmsDesign/UpdateOrder',
                            data: { orderList: data, cmsVersionId: cmsVersionId, entityName: entityName },
                            success: function (result) {
                                if (result.Success) {
                                } else {
                                }
                            },
                            error: function (e, c, d) {
                                if (d.length > 0) { alert(d); }
                            }
                        });
                    }
                })
            }
        };

        jQuery(document).ready(function () {
            PortletDraggable.init();

            $(document).on('click', '.cms-design-content-delete', function () {
                var deleteUrl = $(this).data('url');
                swal({
                    title: "Are you sure?",
                    text: "Content will be deleted.",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No"
                }).then(function (isConfirm) {
                    if (isConfirm.value)
                    {
                        location.href = deleteUrl;
                    }
                });
            });

            $(document).on('click', '.cms-design-content-add', function () {
                var url = $(this).data('url');
                $('#cms-design-content-add-modal iframe').attr('src', url);
            });

            $('#cms-design-content-add-modal').on('hidden.bs.modal', function () {
                location.reload();
            });
        });
    </script>
}
