﻿<meta charset="utf-8" />
<title>
    BSC ACCESSORY
</title>
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
    WebFont.load({
        google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
        active: function () {
            sessionStorage.fonts = true;
        }
    });
</script>
<link href="@Url.Content("~/AdminTheme/vendors/base/vendors.bundle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/fullcalendar/fullcalendar.bundle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/jquery-ui/jquery-ui.bundle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/jqvmap/jqvmap.bundle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/theme/base/style.bundle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/bootstrap-fileinput/fileinput.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/glyphicon/glyphicon.css")" rel="stylesheet" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/datatable/datatables.css")" rel="stylesheet" />
<link href="@Url.Content("~/AdminTheme/vendors/custom/colorpicker/colorpicker.css")" rel="stylesheet">
<link href="@Url.Content("~/AdminTheme/custom.css")" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="~/AdminTheme/favicon.ico" />