﻿<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
        <i class="la la-close"></i>
    </button>
    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
            @*<li class="m-menu__item @(Module.MainKey == "Dashboard" ? "m-menu__item--active" : "")" aria-haspopup="true">
            <a href="@Url.Action("Index","Dashboard")" class="m-menu__link ">
                <span class="m-menu__item-here"></span>
                <span class="m-menu__link-text">
                    Dashboard
                </span>
            </a>
        </li>*@

            @if (Identity.AllowAccess(Enums.Privilege.AdminAccount, Enums.Privilege.AdminRole))
            {
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @(Module.MainKey == "Order" ? "m-menu__item--active" : "")" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="@Url.Action("Create", "Order")" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">
                                    Sipariş Oluştur
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @(Module.MainKey == "Product" ? "m-menu__item--active" : "")" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Product")" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">
                                    Ürün Yönetimi
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @(Module.MainKey == "Order" ? "m-menu__item--active" : "")" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="@Url.Action("Index", "Order")" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">
                                    Siparişler
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
            }

            @if (Identity.AllowAccess(Enums.Privilege.AdminSettings, Enums.Privilege.AdminLogs, Enums.Privilege.AdminQueuedEmail, Enums.Privilege.AdminQueuedSms, Enums.Privilege.AdminEmailTemplate, Enums.Privilege.AdminSmsTemplate))
            {
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @(Module.MainKey == "Settings" ? "m-menu__item--active" : "")" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">
                            Genel Ayarlar
                        </span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <ul class="m-menu__subnav">
                            @if (Identity.AllowAccess(Enums.Privilege.AdminPage, Enums.Privilege.AdminPageAdmin))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Menu")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Menu Management
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Page")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Page Management
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminPagePartial, Enums.Privilege.AdminPagePartialAdmin))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "PagePartial")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Page Partial Management
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminAccount))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Account")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Account Management
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminRole))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Role")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Role Management
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminSettings))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("WebResource", "Resources")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Web Settings
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminEmailTemplate))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "EmailTemplate")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Email Templates
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminSmsTemplate))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "SmsTemplate")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Sms Templates
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminQueuedEmail))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "QueuedEmail")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Queued Emails
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminQueuedSms))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "QueuedSms")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Queued Sms
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (Identity.AllowAccess(Enums.Privilege.AdminLogs))
                            {
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Audit")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Audit Logs
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>

                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Index", "Log")" class="m-menu__link ">
                                        <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                        <span class="m-menu__link-title">
                                            <span class="m-menu__link-wrap">
                                                <span class="m-menu__link-text">
                                                    Logs
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
            @if (Identity.AllowAccess(Enums.Privilege.AdminSuper))
            {
                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel @(Module.MainKey == "Super" ? "m-menu__item--active" : "")" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <span class="m-menu__item-here"></span>
                        <span class="m-menu__link-text">
                            Super
                        </span>
                        <i class="m-menu__hor-arrow la la-angle-down"></i>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Index", "Language")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Language Management
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Index", "Provider")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Providers
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Core", "Settings")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Core Settings
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Authentication", "Settings")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Authentication Settings
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Project", "Settings")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Project Settings
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Index", "Task")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Tasks
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Index", "CmsContentTypeGroup")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                CMS Content Type Groups
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item " aria-haspopup="true">
                                <a href="@Url.Action("Index", "CmsContentType")" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-graphic-1"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                CMS Content Types
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>