﻿<script src="@Url.Content("~/AdminTheme/vendors/base/vendors.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/flot/flot.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/fullcalendar/fullcalendar.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/gmaps/gmaps.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/jquery-ui/jquery-ui.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/jqvmap/jqvmap.bundle.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/bootstrap-fileinput/fileinput.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/bootstrap-fileinput/locales/tr.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/tinymce/tiny_mce.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/tinymce/editor_plugin_src.js")" type="text/javascript"></script>
<style>
    table.mceToolbar {
        margin: 0 6px 2px;
        display: inline-table;
    }
</style>
<script src="@Url.Content("~/AdminTheme/vendors/custom/datatable/datatables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/AdminTheme/vendors/custom/colorpicker/colorpicker.js")"></script>
<script src="@Url.Content("~/AdminTheme/theme/base/scripts.bundle.js")" type="text/javascript"></script>

<script>
    function strip_tags(str, allowed_tags) {
        var key = '', allowed = false;
        var matches = []; var allowed_array = [];
        var allowed_tag = '';
        var i = 0;
        var k = '';
        var html = '';
        var replacer = function (search, replace, str) {
            return str.split(search).join(replace);
        };
        // Build allowes tags associative array
        if (allowed_tags) {
            allowed_array = allowed_tags.match(/([a-zA-Z0-9]+)/gi);
        }
        str += '';

        // Match tags
        matches = str.match(/(<\/?[\S][^>]*>)/gi);
        // Go through all HTML tags
        for (key in matches) {
            if (isNaN(key)) {
                // IE7 Hack
                continue;
            }

            // Save HTML tag
            html = matches[key].toString();
            // Is tag not in allowed list? Remove from str!
            allowed = false;

            // Go through all allowed tags
            for (k in allowed_array) {            // Init
                allowed_tag = allowed_array[k];
                i = -1;

                if (i != 0) { i = html.toLowerCase().indexOf('<' + allowed_tag + '>'); }
                if (i != 0) { i = html.toLowerCase().indexOf('<' + allowed_tag + ' '); }
                if (i != 0) { i = html.toLowerCase().indexOf('</' + allowed_tag); }

                // Determine
                if (i == 0) {
                    allowed = true;
                    break;
                }
            }
            if (!allowed) {
                str = replacer(html, "", str); // Custom replace. No regexing
            }
        }

        str = str.replace(new RegExp('&nbsp;', 'g'), ' ');

        return str;
    }

    var Summernote = {
        init: function () {
            if ($(".summernote").length > 0) {
                $(".summernote").summernote({
                    height: 150,
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']]
                    ]
                })
            }
        }
    };

    var TinyMce = {
        init: function () {
            if ($(".tinymce").length > 0) {
                tinyMCE.init({
                    mode: "specific_textareas",
                    editor_selector: "tinymce",
                    theme: "advanced",
                    plugins: "paste",
                    theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,code,removeformat,|",
                    theme_advanced_buttons2: "undo,redo,|,forecolor,backcolor,|,bullist,numlist,|,link,unlink,",
                    theme_advanced_buttons3: "",
                    theme_advanced_toolbar_location: "top",
                    theme_advanced_toolbar_align: "left",
                    theme_advanced_statusbar_location: "",
                    theme_advanced_resizing: false,
                    height: "150",
                    width: "100%",
                    relative_urls: false,
                    paste_preprocess: function (pl, o) {
                        o.content = strip_tags(o.content, '');
                    },
                    document_base_url: '/Uploads/Editor/',
                    content_css: '/AdminTheme/vendors/custom/tinymce/tinymce.css'
                });
            }
        }
    }
    
    var Colorpicker = {
        init: function () {
            if ($(".colorpicker").length > 0) {
                $(".colorpicker").colorpicker();
            }
        }
    }

    var Datatable = {
        init: function () {
            if ($(".datatable > table").length > 0) {
                $(".datatable > table").each(function () {
                    var _this = $(this);
                    _this.DataTable({
                        searching: false,
                        paging: false,
                        info: false,
                        bSort: false,
                        language: {
                            zeroRecords: "No results found.",
                            infoEmpty: "No results found."
                        },
                        order: []
                    });

                    var sortedValue = $("#SortPropertyName").val();
                    var _sortedColumn = _this.find('thead th[prop-name="' + sortedValue + '"]');
                    if (_sortedColumn.length > 0) {
                        if ($("#SortPropertyOrderByDescending").val() == "False") {
                            _sortedColumn.append("<i class='fa fa-arrow-up' style='font-size: .8rem'></i>");
                        }
                        else {
                            _sortedColumn.append("<i class='fa fa-arrow-down' style='font-size: .8rem'></i>");
                        }
                    }

                    _this.find('thead th').css("cursor", "pointer");
                    _this.on('click', 'thead th', function () {
                        var propertyName = $(this).attr('prop-name');
                        if (typeof (propertyName) != undefined && propertyName != null && propertyName != "") {
                            $("#PageNumber").val("1");
                            $("#SortPropertyName").val(propertyName);
                            var orderByDescending = $("#SortPropertyOrderByDescending").val();
                            if (orderByDescending == "False") {
                                $("#SortPropertyOrderByDescending").val("True");
                            }
                            else {
                                $("#SortPropertyOrderByDescending").val("False");
                            }
                            $("#SortPropertyName").closest('form').submit();
                        }
                    });
                })
            }
        }
    };

    var Select2 = {
        init: function () {
            if ($(".m-select2:not(.m-select2-autocomplete)").length > 0) {
                $(".m-select2:not(.m-select2-autocomplete)").each(function () {
                    var _this = $(this);
                    _this.select2({
                        width: '100%',
                        allowClear: true,
                        placeholder: _this.attr('placeholder'),
                        "language": {
                            "noResults": function () {
                                return "No results found.";
                            }
                        }
                    })
                });
            }

            if ($(".m-select2:not(.m-select2-autocomplete)").length > 0) {
                $(".m-select2:not(.m-select2-autocomplete)").each(function () {
                    var _this = $(this)
                    var alternativeParamter = _this.data('alternativeparameter');
                    if (typeof (alternativeParamter) != undefined && alternativeParamter != null && alternativeParamter != "") {
                        var _relatedField = $(_this.data('alternativeparameter'));
                        var requestUrl = _this.data('requesturl')
                        if (_relatedField.length > 0) {
                            _relatedField.change(function () {
                                $.ajax({
                                    cache: false,
                                    url: requestUrl,
                                    data: { parameter: $(this).val() },
                                    type: 'post',
                                    success: function (response) {
                                        var options = response;
                                        _this.html("<option></option>").trigger('change');
                                        for (var i = 0; i < options.length; i++) {
                                            var option = new Option(options[i].Text, options[i].Value, false, false);
                                            _this.append(option).trigger('change');
                                        }
                                    },
                                    complete: function () {
                                    },
                                    error: function () {
                                    }
                                });
                            });
                        }
                    }
                });
            }

            if ($(".m-select2-autocomplete").length > 0) {
                $(".m-select2-autocomplete").each(function () {
                    var _this = $(this);
                    _this.select2({
                        width: '100%',
                        placeholder: _this.attr('placeholder'),
                        allowClear: true,
                        minimumInputLength: 2,
                        language: {
                            errorLoading: function () {
                                return '';
                            },
                            inputTooLong: function (args) {
                                var overChars = args.input.length - args.maximum;
                                var message = 'Maximum {0} characters allowed.'.replace("{0}", overChars);
                                if (overChars != 1) {
                                    message += 's';
                                }

                                return message;
                            },
                            inputTooShort: function (args) {
                                var remainingChars = args.minimum - args.input.length;
                                var message = '{0} charackters more'.replace("{0}", remainingChars);

                                return message;
                            },
                            loadingMore: function () {
                                return 'Loading...';
                            },
                            maximumSelected: function (args) {
                                var message = 'Maximum {0} selection allowed.'.replace("{0}", args.maximum);
                                if (args.maximum != 1) {
                                    message += 's';
                                }

                                return message;
                            },
                            noResults: function () {
                                return "No results found.";
                            },
                            searching: function () {
                                return 'Searching...';
                            }
                        },
                        ajax: {
                            type: "POST",
                            url: _this.data('requesturl'),
                            dataType: 'json',
                            data: function (params) {
                                return { keyword: params.term, parameter: $(_this.data('alternativeparameter')).val() };
                            },
                            processResults: function (data, params) {
                                var results = [];
                                $.each(JSON.parse(data.Data), function (i, v) {
                                    var o = {};
                                    o.id = v.Value;
                                    o.text = v.Text;
                                    results.push(o);
                                });

                                return {
                                    results: results
                                };
                            },
                        },
                        templateResult: autocompleteFormatRepo,
                        templateSelection: autocompleteFormatRepoSelection,
                        escapeMarkup: function (m) { return m; }
                    })
                });
            }
        }
    };

    function autocompleteFormatRepo(contract) {
        if (contract.loading) return contract.text;
        return "<div value='" + contract.id + "'>" + contract.text + "</div>";
    }

    function autocompleteFormatRepoSelection(contract) {
        return contract.text;
    }

    var BootstrapDatetimepicker = {
        init: function () {
            if ($(".m_datetimepicker").length > 0) {
                $(".m_datetimepicker").datetimepicker({
                    todayHighlight: !0,
                    autoclose: !0,
                    format: "yyyy.mm.dd hh:ii"
                })
            }
        }
    };

    var _selectedExcelExportForm;
    $(document).ready(function () {
        Summernote.init();
        TinyMce.init();
        Colorpicker.init();
        Datatable.init();
        Select2.init();
        BootstrapDatetimepicker.init();

        $(".single-image-input").fileinput({
            showUpload: false,
            showDrag: true,
            language: 'en',
            allowedFileExtensions: ['jpg', 'gif', 'png', 'jpeg', 'svg'],
            maxFileSize: 4000
        });

        $(".multiple-image-input").fileinput({
            showUpload: false,
            showDrag: true,
            language: 'en',
            allowedFileExtensions: ['jpg', 'gif', 'png', 'jpeg', 'svg'],
            maxFileSize: 10000
        });

        $(".single-video-input").fileinput({
            showUpload: false,
            showDrag: true,
            language: 'en',
            allowedFileExtensions: ['mp4'],
            maxFileSize: 20000
        });

        $(".single-file-input").fileinput({
            showUpload: false,
            showDrag: true,
            language: 'en',
            allowedFileExtensions: ['pdf', 'docx', 'doc', 'xls', 'xlsx', 'wav', 'mp3'],
            maxFileSize: 30000
        });

        $('.search-button').click(function () {
            $(this).closest('form').find('#Export').val('False');
        });

        $('.export-button').click(function () {
            _selectedExcelExportForm = $(this).closest('form');
            var url = $(this).data('url');
            $('#search-filter-export-modal iframe').attr('src', url);
        });

        $('.approve-button').click(function () {
            $(this).closest('form').find('#Approved').val('True');
        });

        $('.reject-button').click(function () {
            $(this).closest('form').find('#Approved').val('False');
        });

        $('.delete-button').click(function () {
            var _this = $(this);
            swal({
                title: "Are you sure?",
                text: "Content will be deleted.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No"
            }).then(function (isConfirm) {
                if (isConfirm.value) {
                    _this.next().submit();
                }
            });
        });

        $('.remove-file-button').click(function () {
            var fileRemoveId = $(this).attr('data-file');
            var _fileRemove = $('#' + fileRemoveId);
            _fileRemove.val("true");
            $(this).closest('.form-group').find('img').remove();
            $(this).closest('.form-group').find('video').remove();
            $(this).closest('.form-group').find('a').remove();
            $(this).closest('.form-group').find('.single-image-input').remove();
            $(this).closest('.form-group').find('.single-video-input').remove();
            $(this).closest('.form-group').find('.single-file-input').remove();
            $(this).closest('.form-group').find('.file-input').remove();
            $(this).remove();
        });

        $('.print').click(function () {
            window.print();
        });

        $('.json-stringify').each(function () {
            var jsonRaw = JSON.parse($(this).html());
            var jsonString = JSON.stringify(jsonRaw, null, 4).replace(/(?:\r\n|\r|\n)/g, '<br>').split(' ').join('&nbsp;')
            $(this).html(jsonString)
        });
    });

    function prepareExcelExport() {
        var selectedProperties = "";
        var _exportPropertiesContainer = $('.export-properties-container');
        _exportPropertiesContainer.find('.form-group').each(function () {
            var _propertyCheckbox = $(this).find('input[type="checkbox"]');
            if (_propertyCheckbox.prop('checked')) {
                var name = _propertyCheckbox.attr('name');
                var displayName = _propertyCheckbox.closest('.form-group').find('.export-property-display-name').text().trim();
                selectedProperties += name + ":" + displayName + ",";
            }
        });

        if (selectedProperties.length > 0) {
            selectedProperties = selectedProperties.substring(0, selectedProperties.length - 1);
            this.parent.getExcelExport(selectedProperties);
        }
    }

    function getExcelExport(selectedProperties) {
        _selectedExcelExportForm.find('#Export').val('True');
        _selectedExcelExportForm.find('#SelectedExportProperties').val(selectedProperties);
        _selectedExcelExportForm.submit();
    }

</script>
