﻿@model List<MenuModelsView>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                        @Html.CustomButton("btn-metal", new { menuId = item.Id }, "Items", "MENU ITEMS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>