﻿@model List<MenuItemViewModel>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().DisplayOrder)">Display Order</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Url)">Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DisplayOrder</td>
                <td>@item.Name</td>
                <td>@item.Url</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id }, "ItemDelete")
                        @Html.EditButton(new { id = item.Id }, "ItemEdit")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>