﻿@{
    var data = (List<MenuItemViewModel>)ViewBag.Data;
    long menuId = (long)ViewBag.MenuId;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Yönetimi</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 m--align-right">
                        <a href="@Url.Action("ItemCreate", new { menuId })" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-plus"></i>
                                <span>YENİ EKLE</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="datatable">
                @Html.Partial("_Items", data)
            </div>
        </div>
    </div>
</div>