﻿<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Add New @Module.Title</h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m--margin-bottom-10">
                <a href="@Url.Action("Items", new { menuId = Model.MenuId })" class="btn btn-primary btn-sm m-btn m-btn--icon"><span><i class="la la-angle-left"></i><span>BACK TO LİST</span></span></a>
            </div>
            <!--begin::Portlet-->
            <div class="m-portlet">
                <!--begin::Form-->
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="m-portlet__body">
                        @Html.EditorForModel()
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-sm m-btn btn-success">KAYDET VE ÇIK</button>
                            <button type="submit" class="btn btn-sm m-btn btn-info" name="save-continue" value="Save">KAYDET</button>
                        </div>
                    </div>
                }
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>