@media screen and (min-width: 901px) {
	.mobile-only {
		display: none !important;
	}
}

@media screen and (max-width: 900px) {
	.desktop-only {
		display: none !important;
	}

	html {
		font-size: 26.666666vw;
	}
 
	header .container {
		padding-left: .22rem;
		padding-right: .22rem;
	}
	
	header {
		padding-top: 0;
		padding-bottom: 0;
		z-index: 15;
	  }
	
	  header.fixed {
		padding-bottom: 0;
		padding-top: 0;
	  }
	
	  header.fixed .logo a,
	  header .logo a {
		width: .58rem;
		z-index: 3;
	  }

	  header .logo a img {
		width: .50rem;
	}
	
	  header .logo a svg.svg_logo,
	  header.fixed .logo a svg.svg_logo {
		width: 0.3rem;
		height: 0.3rem;
		left: 0;
		bottom: -0.18rem;
	  }
	
	  header .logo a svg.text,
	  header.fixed .logo a svg.text {
		width: 0.9rem;
		height: 0.19rem;
		left: 0.37rem;
		top: -0.06rem;
	  }
	
	  /* 
	  header .logo a,
	  header.fixed .logo a {
		width: 1.28rem;
		height: 0.3rem;
		text-align: left;
	  }
	
	  header .logo a svg.svg_logo,
	  header.fixed .logo a svg.svg_logo {
		width: 0.3rem;
		height: 0.3rem;
		margin: 0;
	  }
	
	  header .logo a svg.text,
	  header.fixed .logo a svg.text {
		width: 0.9rem;
		height: 0.19rem;
		position: relative;
		margin-left: 0.05rem;
		left: 0;
	  } */
	
	  header .hamburger {
		width: 0.3rem;
		height: 0.3rem;
		background-color: rgba(255, 255, 255, 0.11);
		position: absolute;
		top: 50%;
		right: 0.2rem;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		z-index: 12;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		cursor: pointer;
	  }
	
	  header .hamburger span {
		width: 0.14rem;
		height: 0.02rem;
		border-radius: 0.2rem;
		-webkit-border-radius: 0.2rem;
		-moz-border-radius: 0.2rem;
		-ms-border-radius: 0.2rem;
		-o-border-radius: 0.2rem;
		background-color: #0a0a0a;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
	  }
	
	  header.fixed .hamburger {
		background-color: #f4f7fa;
	  }
	
	  header.fixed .hamburger span {
		background-color: #444444;
	  }
	
	  header .hamburger span:nth-child(1) {
		top: 0.09rem;
	  }
	  header .hamburger span:nth-child(2) {
		top: 0.14rem;
	  }
	  header .hamburger span:nth-child(3) {
		top: 0.19rem;
	  }
	
	  body.menu header .hamburger {
		background-color: #f4f7fa;
	  }
	
	  body.menu header .hamburger span {
		background-color: #1f1f1f;
	  }
	
	  body.menu header .hamburger span:nth-child(1) {
		transform: translateX(-50%) rotate(-45deg);
		-webkit-transform: translateX(-50%) rotate(-45deg);
		-moz-transform: translateX(-50%) rotate(-45deg);
		-ms-transform: translateX(-50%) rotate(-45deg);
		-o-transform: translateX(-50%) rotate(-45deg);
		top: 0.15rem;
		left: 0.16rem;
	  }
	  body.menu header .hamburger span:nth-child(2) {
		opacity: 0;
	  }
	  body.menu header .hamburger span:nth-child(3) {
		transform: translateX(-50%) rotate(45deg);
		-webkit-transform: translateX(-50%) rotate(45deg);
		-moz-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		top: 0.15rem;
		left: 0.16rem;
	  }
	
	  header .container {
		padding-top: 0.15rem;
		padding-bottom: 0.15rem;
	  }
	
	  header .menu-wrapper {
		background-color: #fff;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		position: absolute;
		width: 100%;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
	  }
	
	  body.menu .menu-wrapper {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
	  }
	
	  header .menu-wrapper .menu-items {
		padding-left: 0.2rem;
		padding-right: 0rem;
		padding-top: 1.05rem;
		padding-bottom: 0.2rem;
	  }
	
	  header .menu-wrapper .menu-items .menu-item {
		display: block;
		padding: 0;
	  }
	  header .menu-wrapper .menu-items .menu-item a {
		padding-left: 0;
		padding-right: 0.2rem;
		padding-top: 0.16rem;
		padding-bottom: 0.16rem;
		font-weight: 700;
		font-size: 0.18rem;
		line-height: 1.2em;
		letter-spacing: -0.018em;
		color: #373737;
		display: block;
	  }
	  header .menu-wrapper .menu-items .menu-item:last-child {
		padding-right: 0.2rem;
	  }
	
	  header .menu-wrapper .menu-items .menu-item.separator {
		display: none;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		padding: 0.27rem 0.2rem;
		text-align: left;
	  }
	  header .menu-wrapper .menu-items .mobile-menu-cont .social {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	  }
	  header .menu-wrapper .menu-items .mobile-menu-cont .social a {
		padding: 0.14rem;
		background-color: #f4f7fa;
		border-radius: 50%;
		display: inline-block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont .social a + a {
		margin-left: 0.05rem;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont .social a img {
		width: 0.51rem;
		height: 0.51rem;
	  }
	  header .menu-wrapper .menu-items .mobile-menu-cont .lang {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	  }
	  header .menu-wrapper .menu-items .mobile-menu-cont .lang a {
		vertical-align: middle;
		display: inline-block;
		background-color: #f4f7fa;
		border-radius: 0.21rem;
		-webkit-border-radius: 0.21rem;
		-moz-border-radius: 0.21rem;
		-ms-border-radius: 0.21rem;
		-o-border-radius: 0.21rem;
		padding: 0.1rem 0.16rem;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont .lang a img {
		width: 0.24rem;
		height: 0.24rem;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.1rem;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont .lang a span {
		display: inline-block;
		vertical-align: middle;
		line-height: 0.24rem;
		font-weight: 600;
		font-size: 0.16rem;
		letter-spacing: -0.017em;
		color: #85388d;
	  }
	
	  header .menu-wrapper .menu-items .mobile-menu-cont .rights {
		display: block;
		margin-top: 0.17rem;
		font-weight: 400;
		font-size: 0.12rem;
		line-height: 1.2em;
		color: #656464;
	  }
	  /* Header */

  /*Banner*/
  section.banner {
    background-position: top;
    background-size: contain;
    background-color: #000;
    height: 4rem;
  }

  section.banner .content {
    padding-left: 0%;
    vertical-align: bottom;
    padding-bottom: 0.48rem;
  }

  section.banner .content .title span {
    font-size: 0.32rem;
    line-height: 1.2em;
    letter-spacing: -0.018em;
  }

  section.banner .content .text {
    margin-top: 0.16rem;
  }
  section.banner .content .text span {
    font-size: 0.14rem;
    line-height: 1.714em;
    letter-spacing: -0.017em;
    color: #ffffff;
  }
	/*Banner*/
	
/* Model Section */

section.models { 
    padding-bottom: .1rem;
    margin-top: .75rem;
  }
 
  section.models .products {
    width: 100%;
    display: block;
  }
  
  section.models .products .product {
    width: 100%;
    display: block;
  }
  
  section.models .products * + .product {
    margin-top: .1rem;
  }
  
  section.models .products .product .img-container {
    width: 100%;
    display: block;
  }
  
  section.models .products .product .img-container img {
    width: 100%;
    display: none;
  }
  
  section.models .products .product .img-container img.active {
    display: block;
  }
  
  section.models .products .product .content {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
	padding-top:.2rem;
	padding-bottom:.1rem;
    padding-left: .1rem;
	    padding-right: .1rem;
  }
  
  section.models .products .product:nth-child(2n) {
    direction: inherit;
  }
  
  section.models .products .product:nth-child(2n) .content {
    direction: inherit;
    padding-left: 0;
    padding-right: 0;
  }
  
  section.models .products .product .content .title {
    font-weight: 700;
    font-size: 0.18rem;
    line-height: 1.2em;
    letter-spacing: -0.017em;
    color: black;
    display: block;
	text-align: center;
	padding-top:.1rem;
  }
  section.models .products .product .content .text {
    font-weight: 400;
    font-size: 0.14rem;
    line-height: 1.5em;
    letter-spacing: -0.017em;
    color: black;
    display: block;
    text-align: center;
  }
  section.models .products .product .content * + .inner-box {
    margin-top: 0.1rem;
  }
  section.models .products .product .content * + .cta {
    margin-top: 0.1rem;
    text-align: center;
  }

/*Footer*/
footer .container {
	padding-left: .22rem;
	padding-right: .22rem;
}
	
	footer .logo a {
	  width: .40rem;
	}
	
	footer .logo a img {
	  width: .40rem;
	}
  
	footer .footer-wrapper {
	  width: calc(100% - .4rem);
	  display: inline-block;
	  text-align: right;
	  vertical-align: middle;
	}
	
	footer .footer-wrapper .social-items {
	  width: 100%;
	}
	
	footer .footer-wrapper .social-items .social-item {
	  display: inline-block;
	  vertical-align: middle;
	  padding-left: 0.1rem;
	  padding-right: 0.1rem;
	  position: relative;
	}
	
	footer .footer-wrapper .social-items .social-item a {
	  display: block;
	  font-weight: 500;
	  font-size: 0.16rem;
	  line-height: 1.5em;
	  color: #000;
	  transition: all 0.4s ease-in-out;
	  -webkit-transition: all 0.4s ease-in-out;
	  -moz-transition: all 0.4s ease-in-out;
	  -ms-transition: all 0.4s ease-in-out;
	  -o-transition: all 0.4s ease-in-out;
	}	
}