/* General Bootstrap */

html {
    font-size: 100px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}

html.lock {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 0;
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none !important;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none;
}

b, strong {
    font-weight: 700;
}

.vcenter {
    font-size: 0;
}

.vcenter > * {
    display: inline-block;
    vertical-align: middle;
}

.vcenter:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.font * {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.font img {
    display: block !important;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}


/* Social Icons */

a.social-icon {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
}

a.social-icon:before {
    font-family: FontAwesome;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

a.social-icon.facebook:before {
    content: '\f09a';
}

a.social-icon.facebook-square:before {
    content: '\f082';
}

a.social-icon.facebook-official:before {
    content: '\f230';
}

a.social-icon.twitter:before {
    content: '\f099';
}

a.social-icon.twitter-square:before {
    content: '\f081';
}

a.social-icon.youtube:before {
    content: '\f16a';
}

a.social-icon.instagram:before {
    content: '\f16d';
}

a.social-icon.linkedin:before {
    content: '\f0e1';
}

a.social-icon.spotify:before {
    content: '\f1bc';
}

a.social-icon.medium:before {
    content: '\f23a';
}

a.social-icon.vimeo:before {
    content: '\f27d';
}

a.social-icon.facebook:hover,
a.social-icon.facebook-square:hover,
a.social-icon.facebook-official:hover {
    color: #3c5a96;
}

a.social-icon.facebook:active,
a.social-icon.facebook-square:active,
a.social-icon.facebook-official:active {
    color: #253e6f;
}

a.social-icon.twitter:hover,
a.social-icon.twitter-square:hover {
    color: #1dcaff;
}

a.social-icon.twitter:active,
a.social-icon.twitter-square:active {
    color: #00aced;
}

a.social-icon.youtube:hover {
    color: #e03130;
}

a.social-icon.youtube:active {
    color: #b11618;
}

a.social-icon.instagram:hover {
    color: #EE583F;
}

a.social-icon.instagram:active {
    color: #BD3381;
}

a.social-icon.linkedin:hover {
    color: #1176b5;
}

a.social-icon.linkedin:active {
    color: #0f496a
}

a.social-icon.spotify:hover {
    color: #1db954;
}

a.social-icon.spotify:active {
    color: #1d9e74
}


/* Loading */

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.loading .bar {
    position: absolute;
    width: 0;
    height: 1px;
    top: 80%;
    left: 0;
    background-color: #0C102B;
    transition: .1s width linear;
    -webkit-transition: .1s width linear;
    -ms-transition: .1s width linear;
    -moz-transition: .1s width linear;
    -o-transition: .1s width linear;
}

.loading .logo {
    position: absolute;
    width: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/* General */

.container {
    position: relative;
    width: 100%;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
}


button.btn,
a.btn {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  background-color: black;
  color: #fff;
  font-weight: 600;
  font-size: 0.13rem;
  line-height: 1em;
  color: #ffffff;
  /* border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem; */
  display: inline-block;
  border: 0;
  cursor: pointer;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: transparent;
    padding-top: .15rem;
    padding-bottom: .15rem;
    vertical-align: middle;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    /* border:1px solid #d0c4ba; */
  }
  
  header .container{
    padding-left: .52rem;
    padding-right: .52rem;
  }

  header.fixed {
    padding-top: .1rem;
    padding-bottom: .1rem;
    background-color: #fff;
  }
  
  header .logo {
    display: inline-block;
    vertical-align: middle;
  }
  
  header .logo a {
    width: .60rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  header .logo a img {
    width: .60rem;
  }
  
  header .logo a svg {
    vertical-align: middle;
  }
  
  header .logo a svg.svg_logo {
    position: absolute;
    width: 0.44rem;
    height: 0.44rem;
    left: .22rem;
    bottom: 0;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
  }
  
  header .logo a svg.svg_logo path {
    fill: #fff;
  }
  
  header .logo a svg.text {
    position: absolute;
    width: .89rem;
    height: 0.19rem;
    left: 0;
    top: .06rem;
    transition: .3s all ease, .5s left ease;
    -webkit-transition: .3s all ease, .5s left ease;
    -moz-transition: .3s all ease, .5s left ease;
    -ms-transition: .3s all ease, .5s left ease;
    -o-transition: .3s all ease, .5s left ease;
  }
  
  header .logo a svg.text path {
    fill: #fff;
  }
  
  header.fixed .logo a svg.svg_logo {
    width: .36rem;
    height: .36rem;
    left: 0;
    bottom: -.18rem;
  }
  
  header.fixed .logo a svg.svg_logo path {
    fill: #000;
  }
  header.fixed .logo a svg.text {
    width: 1.09rem;
    height: .23rem;
    left: .45rem;
    top: -.11rem;
    transition: .5s all ease, .3s left ease;
    -webkit-transition: .5s all ease, .3s left ease;
    -moz-transition: .5s all ease, .3s left ease;
    -ms-transition: .5s all ease, .3s left ease;
    -o-transition: .5s all ease, .3s left ease;
  }
  header.fixed .logo a svg.text path {
    fill: #333333;
  }
  header .menu-wrapper {
    width: calc(100% - .6rem);
    display: inline-block;
    text-align: right;
    vertical-align: middle;
  }
  
  header .menu-wrapper .menu-items {
    width: 100%;
  }
  
  header .menu-wrapper .menu-items .menu-item {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position: relative;
  }
  
  header .menu-wrapper .menu-items .menu-item a {
    display: block;
    font-weight: 500;
    font-size: 0.16rem;
    line-height: 1.5em;
    color: #000;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  
  header.fixed .menu-wrapper .menu-items .menu-item a {
    color: #373737;
  }
  
  header .menu-wrapper .menu-items .menu-item.separator {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    height: 0.3rem;
  }
  
  header .menu-wrapper .menu-items .menu-item.separator div {
    width: 1px;
    height: 100%;
    background-color: rgba(216,216,216,.25);
  }
  
  header .menu-wrapper .menu-items .menu-item:last-child {
    padding-right: 0;
  }
  
  header .menu-wrapper .menu-items .menu-item:last-child a {
    padding-right: 0;
  }
  
  header .menu-wrapper .menu-items .menu-item.language a img {
    display: inline-block;
    vertical-align: middle;
  }
  
  header .menu-wrapper .menu-items .menu-item.language a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: .1rem;
  }
  
  header.fixed .indicator{
    opacity: 1;
  }
  
  header .indicator{
    height: .01rem;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -.01rem;
    opacity: 0;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
  }

  
/* Banner Section */
section.banner {
    height: 100vh;
    min-height: 5rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  section.banner .container{
    padding-left: .52rem;
    padding-right: .52rem;
  }
  
  section.banner .container {
    height: 100%;
  }
  
  section.banner .content {
    text-align: left;
    width: 100%;
  }
  
  section.banner .content .title {
    font-weight: 700;
    font-size: 0.36rem;
    line-height: 1.22em;
    letter-spacing: -0.006em;
    color: black;
    display: block;
  }
  section.banner .content .text {
    font-weight: 400;
    font-size: 0.16rem;
    line-height: 1.5em;
    letter-spacing: -0.003em;
    color: black;
    display: block;
    margin-top: 0.25rem;
  }


  section.banner .filter{
      position: absolute;
      height: calc(100vh / 5);
      bottom:0;
      width: 100%;
      background-color:rgba(231,233,232,0.9);
  }

  section.banner .filter .content{
      padding-top:.1rem;
      padding-bottom:.1rem;
  }

  section.banner .filter .title{
      margin-top:.1rem;
      margin-bottom:.1rem;
      font-weight: 700;
      font-size: 0.36rem;
      line-height: 1.22em;
      letter-spacing: -0.006em;
      color: black;
      display: block;
  }

  section.banner .filter .text{
    margin-top:.1rem;
    margin-bottom:.1rem;
    font-weight: 700;
    font-size: 0.22rem;
    line-height: 1.22em;
    letter-spacing: -0.006em;
    color: black;
    display: block;
}


/*Products*/


/* Model Section */

section.models { 
    margin-top:.88rem;
  }
 
  section.models .products {
    width: 100%;
    display: inline-block;
  }
  
  section.models .products .product {
    width: 100%;
    display: inline-block;
  }
  
  section.models .products .product .img-container {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  
  section.models .products .product .img-container img {
    width: 100%;
    display: none;
  }
  
  section.models .products .product .img-container img.active {
    display: block;
  }
  
  section.models .products .product .content {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  	padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  
  section.models .products .product:nth-child(2n) {
    direction: rtl;
  }
  
  section.models .products .product:nth-child(2n) .content {
    direction: ltr;
	padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  
  section.models .products .product .content .title {
    font-weight: 700;
    font-size: 0.48rem;
    line-height: 1.2em;
    letter-spacing: -0.017em;
    color: black;
    display: block;
    text-align: center;
  }
  section.models .products .product .content .text {
    font-weight: 400;
    font-size: 0.16rem;
    line-height: 2em;
    letter-spacing: -0.017em;
    color: black;
    display: block;
    text-align: center;
  }
  section.models .products .product .content * + .inner-box {
    margin-top: 0.23rem;
  }
  section.models .products .product .content * + .cta {
    margin-top: 0.35rem;
    text-align: center;
  }

/*Footer*/

footer {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: transparent;
  padding-top: .15rem;
  padding-bottom: .15rem;
  vertical-align: middle;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: .3s all ease;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  border-top:1px solid #d0c4ba;
}

footer .container{
  padding-left: .52rem;
  padding-right: .52rem;
}

  footer .logo {
    display: inline-block;
    vertical-align: middle;
  }
  
  footer .logo a {
    width: .60rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  footer .logo a img {
    width: .60rem;
  }

  footer .footer-wrapper {
    width: calc(100% - .6rem);
    display: inline-block;
    text-align: right;
    vertical-align: middle;
  }
  
  footer .footer-wrapper .social-items {
    width: 100%;
  }
  
  footer .footer-wrapper .social-items .social-item {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.2rem; 
    position: relative;
  }
  
  footer .footer-wrapper .social-items .social-item a {
    display: block;
    font-weight: 500;
    font-size: 0.16rem;
    line-height: 1.5em;
    color: #000;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
/* The End */