﻿@model RolePrivilegeModel
@Html.HiddenFor(p => p.Privilege)
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">@(_.Enum.Description<Enums.Privilege>(Model.Privilege))</label>
    <div class="col-8">
        <label class="m-checkbox">
            @Html.CheckBoxFor(p => p.Selected)
            <span></span>
        </label>
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>