﻿@model CmsDesignContentModel
@{
    var data = (HtmlDataModel)JsonConvert.DeserializeObject(Model.Data, typeof(HtmlDataModel));
    var cmsVersion = (CmsDesignCmsVersionModel)TempData["CmsVersion"];
}
<div id="item-@Model.Id" class="m-portlet m-portlet--sortable m-portlet--accent m-portlet--head-solid-bg">
    <div class="m-portlet__head ui-sortable-handle">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @Model.CmsContentTypeName
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="javascript:void:;" data-url="@Url.Action("Edit", "CmsDesign", new { entityName = cmsVersion.EntityName, cmsVersionId = cmsVersion.CmsVersionId, Id = Model.Id, parentKey = Model.CmsContentChildrenKey })" data-toggle="modal" data-target="#cms-design-content-add-modal" class="m-portlet__nav-link m-portlet__nav-link--icon cms-design-content-add">
                        <i class="la la-edit"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="javascript:void:;" data-url="@Url.Action("Delete","CmsDesign", new { entityName = cmsVersion.EntityName, cmsVersionId = cmsVersion.CmsVersionId, cmsVersionContentId = Model.Id})" class="m-portlet__nav-link m-portlet__nav-link--icon cms-design-content-delete">
                        <i class="la la-trash"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        @Html.Raw(data.Html)
    </div>
</div>
