﻿@model List<ProductModelsView>
@{
    var isImageHide = ((bool) ViewBag.IsImageHideFilter ? true : false);
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().CompanyName)">Firma</th>
            @if (!isImageHide)
            {
                <th>Ürün Görseli</th>
            }
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Ürün Adı</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().CategoryType)">Ürün Tipi</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Stok Adedi</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Satılan Adet</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Stok Kodu</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Kalan Stok</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Price)">Ürün Fiyatı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style=@(item.IsActive ? "background-color:#fff;" : "background-color:#ff9ba0;")>
            <td>@item.CompanyName</td>
            @if (!isImageHide)
            {
                <td>
                    @if (item.ImageUrl != null)
                    {
                       
                            <a data-toggle="modal" data-target="#imageModal-@item.ImageId">
                                <img src="@item.ImageUrl" class="img-responsive" width="150">
                            </a>
                            <div id="imageModal-@item.ImageId" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <img src="@item.ImageUrl" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                    }
                </td>
            }

            <td>@item.Name</td>
            <td>@(_.Enum.Description(item.CategoryType))</td>
            <td>@item.ProductStocks.Select(p => p.Amount).Sum()</td>
            <td>@item.OrderCount</td>
            <td>@item.Code</td>
            <td>@(item.ProductStocks.Select(p => p.Amount).Sum() - item.OrderCount)</td>
            <td>@item.Price</td>
            <td>
                <span>
                    @Html.DeleteButton(new { id = item.Id })
                    @Html.EditButton(new { id = item.Id })
                    @Html.CustomButton("btn-metal", new { productId = item.Id }, "ProductStockList", "Stoklar")
                    @Html.CustomButton("btn-metal", new { productId = item.Id }, "ProductImageList", "Görseller")
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>