﻿@model List<ProductStockModelsView>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().BuyingPrice)">Satın Alınan Tutar</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Amount)">Adet</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().CreationDate)">Tarih</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BuyingPrice</td>
                <td>@item.Amount</td>
                <td>@item.CreationDate</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id }, "ProductStockDelete", title:"Sil")
                        @Html.EditButton(new { id = item.Id }, "ProductStockEdit", title:"Düzenle")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>