﻿@model List<ProductImageModelsView>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().DisplayOrder)">Gösterim Sırası</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().ImageUrl)">Görsel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DisplayOrder</td>
                <td>
                    <a data-toggle="modal" data-target="#imageModal-@item.Id">
                        <img src="@item.ImageUrl" class="img-responsive" width="150">
                    </a>
                    <div id="imageModal-@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="@item.ImageUrl" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
           
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id }, "ProductImageDelete", title:"Sil")
                        @Html.EditButton(new { id = item.Id }, "ProductImageEdit", title:"Düzenle")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>