﻿@{
    var data = (List<ProductStockModelsView>)ViewBag.Data;
    long productId = (long)ViewBag.ProductId;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Yönetimi</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m--margin-bottom-10">
                <a href="@Url.Action("Index")" class="btn btn-primary btn-sm m-btn m-btn--icon"><span><i class="la la-angle-left"></i><span>LİSTEYE GERİ DÖN</span></span></a>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-form m-form--label-align-right m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-12 m--align-right">
                                <a href="@Url.Action("ProductStockCreate", new {productId})" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>YENİ EKLE</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="datatable">
                        @Html.Partial("_ProductStockList", data)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
