﻿<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        <label class="m-checkbox">
            @Html.CheckBox("", ((bool?)Model ?? false))
            <span></span>
        </label>
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>