﻿@model string
<div class="form-group m-form__group row">
    @Html.Label("", new { @class = "col-4 col-form-label" })
    <div class="col-8">
        @Html.TextBox("", Model, new { @class = "form-control m-input colorpicker" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>
