﻿@model DateTime?
@{
    var value = Model == null || !(Model is DateTime) ? "" : ((DateTime)Model).ToString("yyyy.MM.dd HH:mm");
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        @Html.TextBoxFor(p => p, new { @class = "form-control m_datetimepicker", placeholder = "Lütfen seçiniz", value = value, autocomplete="off" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>

