﻿@model bool?
@{
    var selectList = new List<SelectListItem>();
    selectList.Add(new SelectListItem());
    selectList.Add(new SelectListItem { Text = "Yes", Value = "True" });
    selectList.Add(new SelectListItem { Text = "No", Value = "False" });
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        @Html.DropDownListFor(p => p, selectList, new { @class = "form-control m-select2", placeholder = "Lütfen seçiniz" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>