﻿@model List<long>
@{
    var searchCode = Html.CustomParameter(p => p);
    var requestUrl = "/" + searchCode;
    var alternativeParameter = Html.CustomAlternativeParameter(p => p);
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        @Html.AcDropdownMultipleFor(p => p, new { @class = "form-control m-select2", data_requesturl = requestUrl, data_alternativeparameter = alternativeParameter, placeholder = "Please select" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>
