﻿@model Enum
@{
    var options = _.Enum.SelectList(ViewData.ModelMetadata.ModelType, Model);
    options.Insert(0, new SelectListItem { });
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        @Html.DropDownListFor(p => p, options, new { @class = "form-control m-select2", placeholder = "Lütfen seçiniz" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>
<style>
    select.m-select2 {
        opacity: 1;
    }
</style>