﻿@model long?
@{
    MvcHtmlString name = Html.NameFor(p => p);
    var errors = new ModelErrorCollection();
    if (name != null && ViewData.ModelState.Values.Any())
    {
        if (ViewData.ModelState[name.ToHtmlString()] != null)
        {
            errors = ViewData.ModelState[name.ToHtmlString()].Errors;
        }
    }
}

<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    @if (Model.HasValue)
    {
        <div class="col-2">
            <img class="img-responsive" src="@Url.ImageUrl(ViewData[Html.Id("") + "_Url"] + "")" />
        </div>
    }
    <div class="@(Model.HasValue ? "col-6" : "col-8")">
        <input type="file" class="multiple-image-input" name="@(Html.Id(""))_File" multiple>
        @Html.HiddenFor(p => p)
        <input type="hidden" id="@(Html.Id(""))_Module" name="@(Html.Id(""))_Module" value="@Html.MediaModule(p=> p)" />
        <input type="hidden" id="@(Html.Id(""))_Resize" name="@(Html.Id(""))_Resize" value="@Html.MediaResize(p=> p)" />
        <input type="hidden" id="@(Html.Id(""))_Thumb" name="@(Html.Id(""))_Thumb" value="@Html.MediaThumb(p=> p)" />
        <input type="hidden" id="@(Html.Id(""))_SizeValidation" name="@(Html.Id(""))_SizeValidation" value="@Html.MediaSizeValidation(p=> p)" />
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">Alt</label>
    <div class="col-8">
        <input style="width: 100%; margin-top: 10px;" type="text" id="@(Html.Id(""))_AltText" name="@(Html.Id(""))_AltText" value="@ViewData[Html.Id("") + "_AltText"]" />
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>