﻿@model int
@{
    var options = new List<SelectListItem>
    {
        new SelectListItem(),
        new SelectListItem{ Text = "50", Value="50" },
        new SelectListItem{ Text = "100", Value="100" },
        new SelectListItem{ Text = "150", Value="150" },
        new SelectListItem{ Text = "200", Value="200" },
        new SelectListItem{ Text = "Tümü", Value= int.MaxValue.ToString() },
    };
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    <div class="col-8">
        @Html.DropDownListFor(p => p, options, new { @class = "form-control m-select2", placeholder = "Lütfen seçiniz" })
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>



