﻿@model long?
@{
    MvcHtmlString name = Html.NameFor(p => p);
    var errors = new ModelErrorCollection();
    if (name != null && ViewData.ModelState.Values.Any())
    {
        if (ViewData.ModelState[name.ToHtmlString()] != null)
        {
            errors = ViewData.ModelState[name.ToHtmlString()].Errors;
        }
    }
}
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">
        @Html.AcLabelTextFor(p => p)
    </label>
    @if (Model.HasValue && Model.Value > 0)
    {
        <div class="col-2">
            <video width="100%" height="100" controls>
                <source src="@(ViewData[Html.Id("") + "_Url"] + "")" type="video/mp4">
            </video>
        </div>
    }
    <div class="@(Model.HasValue ? "col-6" : "col-8")">
        <input type="file" class="single-video-input" name="@(Html.Id(""))_File">
        @if (Model.HasValue && Model.Value > 0)
        {
            <a href="javascript:void:;" tabindex="0" class="btn btn-danger btn-sm m-btn m-btn--icon remove-file-button" data-file="@(Html.Id(""))_Remove"><span><i class="la la-trash"></i><span>SİL</span></span></a>
        }
        @Html.HiddenFor(p => p)
        <input type="hidden" id="@(Html.Id(""))_Module" name="@(Html.Id(""))_Module" value="@Html.MediaModule(p=> p)" />
        <input type="hidden" id="@(Html.Id(""))_Remove" name="@(Html.Id(""))_Remove" />
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-4 col-form-label">Alternative Text</label>
    <div class="col-8">
        <input style="width: 100%; margin-top: 10px;" type="text" id="@(Html.Id(""))_AltText" name="@(Html.Id(""))_AltText" value="@ViewData[Html.Id("") + "_AltText"]" />
        <input type="hidden" id="@(Html.Id(""))_Url" name="@(Html.Id(""))_Url" value="@ViewData[Html.Id("") + "_Url"]" />
        <span class="m-form__help m--font-danger">@Html.ValidationMessageFor(p => p)</span>
    </div>
</div>