﻿@model List<AcQueuedEmailAdminModelsList>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().To)">To</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().CreationDate)">Creation Date</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Sent)">Is Send?</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().ErrorText)">Error Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.To</td>
                <td>@item.CreationDate</td>
                <td>@item.Sent</td>
                <td>@item.ErrorText</td>
                <td>
                    <span>
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "Details", "DETAILS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>