﻿@model AcQueuedEmailAdminModelsDetails

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Details</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m--margin-bottom-10">
                @if (Model.Sent)
                {
                    <a href="@Url.Action("SendAgain")" class="btn btn-primary btn-sm m-btn m-btn--icon"><span><i class="la la-send"></i><span>SEND AGAIN</span></span></a>
                }
                else if (Model.Error)
                {
                    <a href="@Url.Action("SendAgain")" class="btn btn-primary btn-sm m-btn m-btn--icon"><span><i class="la la-angle-left"></i><span>TRY AGAIN</span></span></a>
                }
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Info
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">Id</span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Id
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">Creation Date</span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.CreationDate.ToString("dd/MM.yyyy HH:mm")
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">Is Send?</span>
                                    </div>
                                    <div class="col-md-9">
                                        @(Model.Sent ? "True" : "False")
                                    </div>
                                </div>
                            </p>
                            @if (Model.SendDate.HasValue)
                            {
                                <p>
                                    <div class="row">
                                        <div class="col-md-3" style="text-align:right">
                                            <span class="m--font-boldest">Send Date</span>
                                        </div>
                                        <div class="col-md-9">
                                            @Model.SendDate.Value.ToString("dd/MM.yyyy HH:mm")
                                        </div>
                                    </div>
                                </p>
                            }
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">Is Error?</span>
                                    </div>
                                    <div class="col-md-9">
                                        @(Model.Error ? "True" : "False")
                                    </div>
                                </div>
                            </p>
                            @if (Model.ErrorDate.HasValue)
                            {
                                <p>
                                    <div class="row">
                                        <div class="col-md-3" style="text-align:right">
                                            <span class="m--font-boldest">Error Date</span>
                                        </div>
                                        <div class="col-md-9">
                                            @Model.ErrorDate.Value.ToString("dd/MM.yyyy HH:mm")
                                        </div>
                                    </div>
                                </p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.ErrorText))
                            {
                                <p>
                                    <div class="row">
                                        <div class="col-md-3" style="text-align:right">
                                            <span class="m--font-boldest">Error Text</span>
                                        </div>
                                        <div class="col-md-9">
                                            @Model.ErrorText
                                        </div>
                                    </div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Mail
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">
                                            To
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.To
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">
                                            Cc
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Cc
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">
                                            Bcc
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Bcc
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">
                                            Subject
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Subject
                                    </div>
                                </div>
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-md-3" style="text-align:right">
                                        <span class="m--font-boldest">
                                            Body
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        @Model.Body
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>