﻿@model PageModelsView
@{
    Layout = null;
    var entityName = ViewBag.EntityName;
}
<div class="m-section">
    <span class="m-section__sub">
        <span class="m--font-success">URL:</span> @Model.Url
    </span>
    <span class="m-section__sub">
        <span class="m--font-success">Version:</span> @Model.DesignedVersion
    </span>
    <span class="m-section__sub">
        <a href="@(_.Configuration.WebSiteUrl + "Preview?entityId=" + Model.Id + "&cmsVersion=" + Model.DesignedVersion + "&entityName=" + entityName + "&languageId=" + Identity.LanguageId)" class="btn btn-info btn-sm m-btn m-btn--icon" target="_blank">
            <i class="la la-external-link"></i> PREVIEW
        </a>
    </span>
</div>