﻿@model ProductDetailsModel
 
    <tr>
        <td>
            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p => p.ImageUrl)
            @if (Model.ImageUrl != null)
            {
                <a data-toggle="modal" data-target="#imageModal-@Model.Id">
                    <img src="@Model.ImageUrl" class="img-responsive" width="50">
                </a>
                <div id="imageModal-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">KAPAT</span></button>
                                <img src="@Model.ImageUrl" class="img-responsive" style="height: 100vh;">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </td>
        <td>
            @Html.HiddenFor(p => p.Name)
            @Model.Name
        </td>
        <td>
            @Html.HiddenFor(p => p.Code)
            @Model.Code
        </td>
        <td>
            @Html.HiddenFor(p => p.RemainingStock)
            @(Model.RemainingStock)
        </td>
        <td>
            @Html.HiddenFor(p => p.Price)
            @Model.Price
        </td>
        <td>
            <div class="input-group test">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="Amount">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                @Html.TextBoxFor(p => p.Amount, new { @class = "form-control input-number", min = "0", max = @Model.RemainingStock })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="Amount">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </td>
    </tr>
 