﻿@model List<AccountModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().FirstName)">First Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().LastName)">Last Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Email)">Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>
                    @foreach (var role in item.RoleNames)
                    {
                        <span>@role</span><br />
                    }
                </td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "ChangePassword", "CHANGE PASSWORD")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>