﻿@model List<AcLogAdminModelsList>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().DateUtc)">Date Utc</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Module)">Module</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Action)">Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateUtc.ToString("yyyy MM dd HH:mm")</td>
                <td>@item.Module</td>
                <td>@item.Action</td>
                <td>
                    <span>
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "Details", "DETAILS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>