﻿@model AcPager<AcProviderAdminModelsList>
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Code</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Type)">Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>
                    <span>
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "Settings", "SETTINGS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>