﻿@model List<AcEmailTemplateAdminModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Type)">Type</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Subject)">Subject</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().IsActive)">Is Active?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Subject</td>
                <td>@(item.IsActive ? "Yes" : "No")</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>