﻿<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">An Error Occured</h3>
        </div>
    </div>
</div>
