﻿@using System.Globalization
@using AcCms.Models.Report
@{

    var topData = (ReportDashboardTopModel)ViewBag.TopData;
    var yearlyProductSalesCount = (List<ReportDashboardItemCount>)ViewBag.YearlyProductSalesCount;
    var monthlyProductSalesCount = (List<ReportDashboardItemCount>)ViewBag.MonthlyProductSalesCount;
    var dailyProductSalesCount = (List<ReportDashboardItemCount>)ViewBag.dailyProductSalesCount;

    var last30DaysSales = (List<ReportDashboardItemDate>)ViewBag.Last30DaysSales;
    var last12MonthsSales = (List<ReportDashboardItemDate>)ViewBag.Last12MonthsSales;

}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">ANA EKRAN</h3>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-3">
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Toplam</h3>
                                    <span class="m-widget1__desc">Sipariş Sayısı</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-focus">@topData.OrderCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Bugün</h3>
                                    <span class="m-widget1__desc">Sipariş Sayısı</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-focus">@topData.TodayOrderCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Bu Ay</h3>
                                    <span class="m-widget1__desc">Sipariş Sayısı</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-focus">@topData.ThisMonthOrderCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="m-widget1">

                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">Bu Yıl</h3>
                                    <span class="m-widget1__desc">Sipariş Sayısı</span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-accent">@topData.ThisYearOrderCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <div class="m-widget14__header m--margin-bottom-30">
                            <h3 class="m-widget14__title">
                                Son 30 Gün
                            </h3>
                            <span class="m-widget14__desc">
                                Sipariş Sayısı
                            </span>
                        </div>
                        <div class="m-widget14__chart" style="height:120px;">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="m_chart_daily_sales" width="364" height="120" class="chartjs-render-monitor" style="display: block; width: 364px; height: 120px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <div class="m-widget14__header m--margin-bottom-30">
                            <h3 class="m-widget14__title">
                                Son 12 Ay
                            </h3>
                            <span class="m-widget14__desc">
                                Sipariş Sayısı
                            </span>
                        </div>
                        <div class="m-widget14__chart" style="height:120px;">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="m_chart_monthly_sales" width="364" height="120" class="chartjs-render-monitor" style="display: block; width: 364px; height: 120px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section scripts {
    <script>
        var Dashboard = {
            init: function () {
                var e = $("#m_chart_daily_sales");
                if (0 != e.length) {
                    var t = {
                        labels: [
                            @foreach(var item in last30DaysSales)
                            {
                                <text>
                                    "@item.Date.ToString("dd/MM/yyyy")",
                                </text>
                            }
                        ],
                        datasets: [{
                            backgroundColor: mApp.getColor("success"), data: [
                                @foreach(var item in last30DaysSales)
                                {
                                <text>
                                    @item.Count,
                                </text>
                                }
                            ]
                        }]
                    };
                    new Chart(e, {
                        type: "bar", data: t, options: {
                            title: {
                                display: !1
                            }
                            , tooltips: {
                                intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                            }
                            , legend: {
                                display: !1
                            }
                            , responsive: !0, maintainAspectRatio: !1, barRadius: 4, scales: {
                                xAxes: [{
                                    display: !1, gridLines: !1, stacked: !0
                                }
                                ], yAxes: [{
                                    display: !1, stacked: !0, gridLines: !1
                                }
                                ]
                            }
                            , layout: {
                                padding: {
                                    left: 0, right: 0, top: 0, bottom: 0
                                }
                            }
                        }
                    }
                    )
                }
                e = $("#m_chart_daily_sale_totals");
                if (0 != e.length) {
                    t = {
                        labels: [
                            @foreach(var item in last30DaysSales)
                            {
                                <text>
                                    "@item.Date.ToString("dd/MM/yyyy")",
                                </text>
                            }
                        ],
                        datasets: [{
                            backgroundColor: mApp.getColor("success"), data: [
                                @foreach(var item in last30DaysSales)
                                {
                                <text>
                                    @(item.Total.ToString("0.00").Replace(",",".")),
                                </text>
                                }
                            ]
                        }]
                    };
                    new Chart(e, {
                        type: "bar", data: t, options: {
                            title: {
                                display: !1
                            }
                            , tooltips: {
                                intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                            }
                            , legend: {
                                display: !1
                            }
                            , responsive: !0, maintainAspectRatio: !1, barRadius: 4, scales: {
                                xAxes: [{
                                    display: !1, gridLines: !1, stacked: !0
                                }
                                ], yAxes: [{
                                    display: !1, stacked: !0, gridLines: !1
                                }
                                ]
                            }
                            , layout: {
                                padding: {
                                    left: 0, right: 0, top: 0, bottom: 0
                                }
                            }
                        }
                    }
                    )
                }

                e = $("#m_chart_monthly_sales");
                if (0 != e.length) {
                    t = {
                        labels: [
                            @foreach(var item in last12MonthsSales)
                            {
                                <text>
                                    "@item.Date.ToString("MMMM")",
                                </text>
                            }
                        ],
                        datasets: [{
                            backgroundColor: mApp.getColor("success"), data: [
                                @foreach(var item in last12MonthsSales)
                                {
                                <text>
                                    @(item.Count),
                                </text>
                                }
                            ]
                        }]
                    };
                    new Chart(e, {
                        type: "bar", data: t, options: {
                            title: {
                                display: !1
                            }
                            , tooltips: {
                                intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                            }
                            , legend: {
                                display: !1
                            }
                            , responsive: !0, maintainAspectRatio: !1, barRadius: 4, scales: {
                                xAxes: [{
                                    display: !1, gridLines: !1, stacked: !0
                                }
                                ], yAxes: [{
                                    display: !1, stacked: !0, gridLines: !1
                                }
                                ]
                            }
                            , layout: {
                                padding: {
                                    left: 0, right: 0, top: 0, bottom: 0
                                }
                            }
                        }
                    }
                    )
                }

                e = $("#m_chart_monthly_sale_totals");
                if (0 != e.length) {
                    t = {
                        labels: [
                            @foreach(var item in last12MonthsSales)
                            {
                                <text>
                                    "@item.Date.ToString("MMMM")) (TL)",
                                </text>
                            }
                        ],
                        datasets: [{
                            backgroundColor: mApp.getColor("success"), data: [
                                @foreach(var item in last12MonthsSales)
                                {
                                <text>
                                    @(item.Total.ToString("0.00").Replace(",",".")),
                                </text>
                                }
                            ]
                        }]
                    };
                    new Chart(e, {
                        type: "bar", data: t, options: {
                            title: {
                                display: !1
                            }
                            , tooltips: {
                                intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                            }
                            , legend: {
                                display: !1
                            }
                            , responsive: !0, maintainAspectRatio: !1, barRadius: 4, scales: {
                                xAxes: [{
                                    display: !1, gridLines: !1, stacked: !0
                                }
                                ], yAxes: [{
                                    display: !1, stacked: !0, gridLines: !1
                                }
                                ]
                            }
                            , layout: {
                                padding: {
                                    left: 0, right: 0, top: 0, bottom: 0
                                }
                            }
                        }
                    }
                    )
                }
            }
        };

        $(document).ready(function () {
            Dashboard.init()
        });
    </script>
}