﻿@model List<LanguageModelsView>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <a href="@Url.Action("UpdateAccountLanguage", "Home", new { languageId = item.Id, returnUrl = Request.Url.AbsoluteUri })" class="btn @(item.Id == Identity.LanguageId ? "btn-primary" : "btn-secondary")">
        @item.Name
    </a>
}
