﻿@model List<AcAuditLogAdminModelsList>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().DateUtc)">Date Utc</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Operation)">Operation</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().EntityId)">Entity Id</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().EntityName)">Entity Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().ParentEntityName)">Parent Entity Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateUtc.ToString("yyyy MM dd HH:mm")</td>
                <td>@item.Operation</td>
                <td>@item.EntityId</td>
                <td>@item.EntityName</td>
                <td>@item.ParentEntityName</td>
                <td>
                    <span>
                        @Html.CustomButton("btn-metal", new { id = item.Id }, "Details", "DETAILS")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>