﻿@model AcAuditLogAdminModelsDetails
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">@Module.Title Details</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        ENTITY INFO
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <span class="m--font-boldest">
                                    Entity Name:
                                </span>
                                @Model.EntityName
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Parent Entity Name:
                                </span>
                                @Model.ParentEntityName
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Operation:
                                </span>
                                @Model.Operation
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Date UTC:
                                </span>
                                @Model.DateUtc.ToString("dd-MM-yyyy HH:mm")
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Account:
                                </span>
                                @Model.IdentityId
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Entity Id:
                                </span>
                                @Model.EntityId
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Parent Entity Id:
                                </span>
                                @Model.ParentEntityId
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Where Am I:
                                </span>
                                @Model.WhereAmI
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Which App Am I:
                                </span>
                                @Model.WhichAppAmI
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        USER INFO
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <span class="m--font-boldest">
                                    Browser:
                                </span>
                                @Model.Browser
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Referrer URL:
                                </span>
                                @Model.ReferrerUrl
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    URL:
                                </span>
                                @Model.Url
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    User Agent:
                                </span>
                                @Model.UserAgent
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    User Host Address:
                                </span>
                                @Model.UserHostAddress
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    User Host Name:
                                </span>
                                @Model.UserHostName
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    HTTP Method:
                                </span>
                                @Model.HttpMethod
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        ENTITY DETAILS
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                @Html.Raw((Model.Details ?? "").Replace("\n", "<br />"))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>