﻿@if (Message.HasError)
{
    <div class="alert alert-danger m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation-1"></i>
        </div>
        <div class="m-alert__text">
            @Html.Raw(Message.Error)
        </div>
    </div>
}
@if (Message.HasSuccess)
{
    <div class="alert alert-success m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation-1"></i>
        </div>
        <div class="m-alert__text">
            @Html.Raw(Message.Success)
        </div>
    </div>
}

