﻿<!DOCTYPE html>
<html lang="tr">
<head>
    @Html.Partial("~/Areas/admin/Views/Layout/_head.cshtml")
</head>
<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        @Html.Partial("~/Areas/admin/Views/Layout/_header.cshtml")
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                @Html.Partial("_AdminMessage")
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/admin/Views/Layout/_scripts.cshtml")
    @RenderSection("scripts", false)
    <div class="loading">
        <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
            <circle id="loading-inner" cx="75" cy="75" r="60" />
        </svg>
    </div>
</body>
</html>