﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    @Html.Partial("~/Areas/admin/Views/Layout/_head.cshtml")
    <style>
        body {
            background-color: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                @Html.Partial("_AdminMessage")
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/admin/Views/Layout/_scripts.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>
