﻿@model IPager
<nav class="m--margin-top-30">
    <ul class="pagination m--align-right" style="margin-top: 0px;">
        @if (Model.HasPreviousPage || Model.HasNextPage)
        {
            if (Model.HasPreviousPage)
            {
                <li class="m--margin-left-5 m--margin-right-5">
                    <a href="@_.Web.AddQueryString(Module.Url, "pageNumber", Model.PreviousPageNumber.ToString())" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--pill">
                        &laquo;
                    </a>
                </li>
            }
            foreach (var i in Model.ShowedPages)
            {
                if (i != Model.PageNumber)
                {

                    <li class="m--margin-left-5 m--margin-right-5">
                        <a href="@_.Web.AddQueryString(Module.Url, "pageNumber", i.ToString())" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--pill">
                            @i
                        </a>
                    </li>
                }
                else
                {
                    <li class="m--margin-left-5 m--margin-right-5">
                        <a href="javascript:;" class="m-portlet__nav-link btn btn-metal m-btn m-btn--pill">
                            @i
                        </a>
                    </li>
                }
            }
            if (Model.HasNextPage)
            {
                <li class="m--margin-left-5 m--margin-right-5">
                    <a href="@_.Web.AddQueryString(Module.Url, "pageNumber", Model.NextPageNumber.ToString())" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--pill">
                        &raquo;
                    </a>
                </li>
            }
        }
    </ul>
</nav>
