﻿@{
    ViewBag.Split = true;
}
@if (Model != null)
{
    <div class="m-portlet">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "search-form m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
        {
            <div class="m-portlet__body">
                <div class="row">
                    @Html.EditorForModel()
                    <input type="hidden" name="PageNumber" value="1" />
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button type="submit" class="btn btn-info btn-sm m-btn m-btn--icon search-button"><span><i class="la la-search"></i><span>Ara</span></span></button>
                    <button type="button" data-url="@Url.Action("SelectExcelExportColumns")" class="btn btn-success btn-sm m-btn m-btn--icon export-button" data-toggle="modal" data-target="#search-filter-export-modal"><span><i class="la la-file-excel-o"></i><span>Excele Aktar</span></span></button>
                </div>
            </div>
        }
    </div>

    <div class="modal fade small" id="search-filter-export-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        SEÇİLİ ALANLAR
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe class="modal-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
}