﻿@model List<Tuple<string, string>>
@{
    Layout = "~/Areas/admin/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="m-portlet__body export-properties-container" data-count="@Model.Count">
    @foreach (var item in Model)
    {
        <div class="form-group m-form__group row mb-0">
            <div class="col-1">
                <label class="m-checkbox">
                    @Html.CheckBox(item.Item1, true)
                    <span></span>
                </label>
            </div>
            <label class="col-11 col-form-label export-property-display-name">
                @(item.Item2)
            </label>
        </div>
    }
</div>
<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <button type="submit" class="btn btn-sm m-btn btn-success" onclick="prepareExcelExport(this)">Excele Aktar</button>
    </div>
</div>
