﻿@model ChangePasswordModel
<form action="@WebResource.ChangePasswordPageUrl" method="post">
    @Html.PasswordFor(p => p.Password)
    @Html.PasswordFor(p => p.PasswordConfirm)
    @Html.HiddenFor(p => p.PasswordReminderToken)
    <button type="submit">GO</button>
</form>
