﻿@model LoginModel
<form action="@WebResource.LoginPageUrl" method="post">
    @Html.TextBoxFor(x => x.Email)
    @Html.PasswordFor(x => x.Password)
    <input type="hidden" name="returnUrl" value="@(ViewBag.ReturnURL)" />
    <input type="hidden" name="showGuestButton" value="@(ViewBag.ShowGuestButton)" />
    <button type="submit">GO</button>
</form>
