﻿@model RegisterModel
<form action="@WebResource.RegisterPageUrl" method="post">
    @Html.TextBoxFor(p => p.FirstName)
    @Html.TextBoxFor(p => p.LastName)
    @Html.TextBoxFor(p => p.Email)
    @Html.PasswordFor(p => p.Password)
    <button type="submit">GO</button>
</form>
