﻿@model List<CmsContentTypeGroupModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Code</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Name</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().DisplayOrder)">Display Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
