﻿@model OrderDetailsModel
@{
    var orderStatusList = _.Enum.SelectList(typeof(Enums.OrderStatus), Model.OrderStatus);
    var totalPrice = decimal.Zero;
    var totalRowPrice = decimal.Zero;
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Sipariş Detayları
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-12">
                <div class="datatable">
                    @if (Model.Items != null && Model.Items.Any())
                    {
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ürün Görseli</th>
                                    <th>Ürün Adı</th>
                                    <th>Stok Kodu</th>
                                    <th>Ürün Fiyatı</th>
                                    <th>Sipariş Adeti</th>
                                    <th>Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    {
                                        totalRowPrice = (item.Price * item.Amount);
                                        totalPrice += totalRowPrice;
                                    }
                                    <tr>
                                        <td>
                                            <a data-toggle="modal" data-target="#imageModal-@item.Id">
                                                <img src="@item.ImageUrl" class="img-responsive" width="30">
                                            </a>
                                            <div id="imageModal-@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <img src="@item.ImageUrl" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td>@item.Price</td>
                                        <td>@item.Amount</td>
                                        <td>@(item.Price * item.Amount)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>Ürün bulunamadı</span>
                    }
                </div>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            @*@if (Model.Valid && Identity.AllowAccess("Admin.OrderEdit"))
                {
                    <div class="col-md-12 m--align-right">
                        <a href="javascript:;" data-url="@Url.Action("EditOrder", "Order", new {id = Model.Id })" data-toggle="modal" data-target="#order-edit-modal" class="btn btn-success btn-sm m-btn m-btn--icon order-edit-button">
                            <i class="la la-edit"></i> @Term("Admin.Order.Edit")
                        </a>
                    </div>
                }*@
            <div class="col-md-12 m--align-right">
                <p>
                    <span class="m--font-boldest">
                        Ara Toplam
                    </span>
                    @totalPrice ₺
                </p>
                <p>
                    <span class="m--font-boldest">
                        Kargo Ücreti
                    </span>
                    @Model.ShipmentPrice ₺
                </p>
                <p>
                    <span class="m--font-boldest">
                        Toplam
                    </span>
                    @Model.TotalPrice ₺
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="order-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Sipariş Düzenle
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <iframe class="modal-iframe"></iframe>
            </div>
        </div>
    </div>
</div>