﻿@model List<OrderModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Id)">Sipariş No</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().FirstName)">Adı</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().LastName)">Soyadı</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Email)">Email</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Phone)">Telefon</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Date)">Sipariş Tarihi</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().TotalPrice)">Sipariş Tutarı</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().OrderStatus)">Sipariş Durumu</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderNo</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Date.ToString("yyyy MM dd HH:mm")</td>
            <td>@item.TotalPrice ₺</td>
            <td>@_.Enum.Description(item.OrderStatus)</td>
            <td>
                <span>
                    @Html.EditButton(new { id = item.Id }, "Details", title: "SİPARİŞ DETAYI", target: "target='_blank'")
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>