﻿@model List<ProductDetailsModel>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">SİPARİŞ OLUŞTUR</h3>
        </div>
    </div>
</div>
<div class="m-content row">
    <div class="m-portlet col-md-12">
        <div class="m-portlet__body">
            @if (Model != null && Model.Any())
            {
                using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data" }))
                {
                    <table class="table table-striped table-bordered table-hover table-responsive" id="datatable_1">
                        <thead>
                            <tr>
                                <th>Ürün Görseli</th>
                                <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Ürün Adı</th>
                                <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Code)">Stok Kodu</th>
                                <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Kalan Stok</th>
                                <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Name)">Ürün Fiyatı</th>
                                <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Amount)">Ürün Adedi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorForModel()
                        </tbody>
                    </table>

                    <div class="form-group clearfix">
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" style="width: 100%;" class="btn">
                                Siparişi Oluştur
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                <span>Ürün bulunamadı</span>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#datatable_1').DataTable({
                searching: true,
                paging: false,
                info: false,
                bSort: false,
                language: {
                    zeroRecords: "Veri bulunamadı.",
                    infoEmpty: "Veri bulunamadı.",
                    search: "ÜRÜN ARA:"
                },
                order: []
            });
        });
         
        $('.btn-number').click(function (e) {
            e.preventDefault();

            _fieldName = $(this).attr('data-field');
            _type = $(this).attr('data-type');
            var _input = $(this).closest(".input-group-btn").closest(".test").find("input");
            var currentVal = parseInt(_input.val());
            if (!isNaN(currentVal)) {
                if (_type == 'minus') {

                    if (currentVal > _input.attr('min')) {
                        _input.val(currentVal - 1).change();
                    }
                    if (parseInt(_input.val()) == _input.attr('min')) {
                    }
                } else if (_type == 'plus') {
                    if (currentVal < _input.attr('max')) {
                        _input.val(currentVal + 1).change();
                    }
                    if (parseInt(_input.val()) == _input.attr('max')) {
                    }
                }
            } else {
                _input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue - 1) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled');
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled');
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    </script>
}
