﻿@model OrderDetailsModel
@{

    var orderStatusList = _.Enum.SelectList(typeof(Enums.OrderStatus), Model.OrderStatus);

}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">SİPARİŞ DETAYI - #@Model.OrderNo</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m--margin-bottom-10">
                <a href="@Url.Action("Index")" class="btn btn-primary btn-sm m-btn m-btn--icon"><span><i class="la la-angle-left"></i><span>GERİ DÖN</span></span></a>
                <a href="javascript:void;" class="btn btn-warning btn-sm m-btn m-btn--icon print"><span><i class="la la-print"></i><span>YAZDIR</span></span></a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        BİLGİLER
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p><span class="m--font-boldest">Sipariş Id:</span> @Model.Id</p>
                            <p><span class="m--font-boldest">Sipariş No:</span> @Model.OrderNo</p>
                            <p><span class="m--font-boldest">Sipariş Kanalı:</span> @_.Enum.Description(Model.OrderChannel)</p>
                            <p><span class="m--font-boldest">Oluşturma Tarihi:</span> @Model.Date.ToString("dd/MM.yyyy HH:mm")</p>
                            <p><span class="m--font-boldest">Sipariş Durumu:</span> @_.Enum.Description(Model.OrderStatus)</p>
                            <p><span class="m--font-boldest">Sipariş Notu:</span> @Model.Notes</p>
                            <p>
                                <span class="m--font-boldest">Kargo Tipi:</span>
                                @if (Model.ShipmentType != null && Model.ShipmentType > 0)
                                {
                                    @_.Enum.Description(Model.ShipmentType.Value)

                                }
                            </p>
                            <p><span class="m--font-boldest">Kargo Numarası:</span> @Model.ShipmentNumber</p>
                            <p><span class="m--font-boldest">Kargolanma Tarihi:</span> @Model.Date</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        MÜŞTERİ BİLGİLERİ
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <p>
                                <span class="m--font-boldest">
                                    Ad Soyad
                                </span>
                                @Model.FirstName @Model.LastName
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    E-posta
                                </span>
                                @Model.Email
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Telefon
                                </span>
                                @Model.Phone
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    İl
                                </span>
                                @Model.City
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    İlçe
                                </span>
                                @Model.District
                            </p>
                            <p>
                                <span class="m--font-boldest">
                                    Adres
                                </span>
                                @Model.Address
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @Html.Partial("DetailsStatus", Model)
                </div>
                <div class="col-md-6">
                    @Html.Partial("DetailsShipment", Model)
                </div>
            </div>
            </div>
    </div>
</div>
 
@Html.Partial("_DetailsItems", Model)
