﻿@model OrderDetailsModel
 
<div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Kargo
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet">
                        <!--begin::Form-->
                        @using (Html.BeginForm("DetailsShipment", "Order", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="m-portlet__body">
                                @Html.HiddenFor(p => p.Id)
                                @Html.EditorFor(p => p.ShipmentType)
                                @Html.EditorFor(p => p.ShipmentNumber)
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <button type="submit" class="btn btn-sm m-btn btn-info" name="save-continue" value="Save">KAYDET</button>
                                </div>
                            </div>
                        }
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
    </div>