﻿@{
    ViewBag.PreventExport = true;

    var data = (IPager)ViewBag.Data;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">SİPARİŞLER (@data.TotalItemCount)</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">
            @Html.Partial("_Search")
            @Html.Partial("_Pager", data)
            <div class="datatable">
                @Html.Partial("_Index", data)
            </div>
            @Html.Partial("_Pager", data)
        </div>
    </div>
</div>