﻿@model OrderModelsCreate
@{
    var data = (List<ProductDetailsModel>)Session["OrderResult"];
    var totalPrice = decimal.Zero;
    var totalRowPrice = decimal.Zero;
}
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Siparişi Tamamla</h3>
        </div>
    </div>
</div>
<div class="m-content row">
    <div class="m-portlet col-md-12">
        @using (Html.BeginForm("Submit", "Order", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="m-portlet__body">
                @Html.EditorForModel()
            </div>
            if (data != null && data.Any())
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Ürün Görseli</th>
                            <th>Ürün Adı</th>
                            <th>Stok Kodu</th>
                            <th>Kalan Stok</th>
                            <th>Ürün Fiyatı</th>
                            <th>Sipariş Adeti</th>
                            <th>Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data)
                        {
                            {
                                totalRowPrice = (item.Price * item.Amount);
                                totalPrice += totalRowPrice;
                            }
                            <tr>
                                <td>
                                    <a data-toggle="modal" data-target="#imageModal-@item.Id">
                                        <img src="@item.ImageUrl" class="img-responsive" width="30">
                                    </a>
                                    <div id="imageModal-@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <img src="@item.ImageUrl" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Code</td>
                                <td>@item.RemainingStock</td>
                                <td>@item.Price</td>
                                <td>@item.Amount</td>
                                <td>@(item.Price * item.Amount)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group clearfix m--align-right">
                    Ara Toplam: <span id="SubTotal" data-price="@totalPrice">@totalPrice </span>₺
                    <br />
                    Kargo Ücreti:
                    <span id="ResultShipmentPrice">0 </span>₺
                    <br />
                    Toplam Tutar: <span id="Total">@totalPrice </span>₺
                </div>

            }
            else
            {
                <span>Ürün bulunamadı</span>
            }
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button type="submit" class="btn btn m-btn btn-success col-12">SİPARİŞİ TAMAMLA</button>
                </div>
            </div>
        }

    </div>
</div>

@section scripts{
    <script>
        $("#ShipmentPrice").on("input", function () {
            var sum = $("#SubTotal").data('price').toString().replace(',', '.');

            $(this).each(function () {

                sum = parseFloat($(this).val().toString().replace(',', '.')) + parseFloat(sum);

            });

            $("#ResultShipmentPrice").html($(this).val().toString().replace('.', ','));
            $("#Total").html(sum.toString().replace('.', ','));

        });
    </script>
}