﻿@model List<StringResourceModelsView>
@{
    Layout = null;
}
<table>
    <thead>
        <tr>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Key)">Key</th>
            <th prop-name="@Html.NameFor(p => p.FirstOrDefault().Value)">Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
                <td>
                    <span>
                        @Html.DeleteButton(new { id = item.Id })
                        @Html.EditButton(new { id = item.Id })
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>